Repository ubuntu/yaru, pull requests merged in 2020-03, with the labels that each got.

#2018 ShellTheme: color app grid rename dialog label
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
Labels: Area: GNOME-shell

#2027 ShellTheme: reduce diff in drawing and app-grid
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
Labels: Area: GNOME-shell

#2032 Dark gtk3 theme: darken $borders_color by 2%
  gtk/src/default/gtk-3.20/_colors.scss
Labels: Area: gtk3, Priority: Enhancement

#2047 Provide and improve src vectors for several icons
  icons/Suru/scalable/actions/system-shutdown-symbolic.svg
  icons/Suru/scalable/categories/applications-health-symbolic.svg
  icons/Suru/scalable/categories/preferences-desktop-apps-symbolic.svg
  icons/src/scalable/source-symbolic.svg
Labels: Area: icon theme

#2083 Legacy icon for object locked / unlocked
  icons/Suru/16x16/legacy/object-locked.svg
  icons/Suru/16x16/legacy/object-unlocked.svg
Labels: Area: icon theme
