Repository ubuntu/yaru, pull requests merged in 2020-01, with the labels that each got.

#1710 Use Aubergine as second accent color instead of blue
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_ubuntu-colors.scss
  gnome-shell/src/toggle-off-dark.svg
  gnome-shell/src/toggle-off-intl.svg
  gnome-shell/src/toggle-off.svg
  gnome-shell/src/toggle-on-dark.svg
  gnome-shell/src/toggle-on-hc.svg
  gnome-shell/src/toggle-on-intl.svg
  gnome-shell/src/toggle-on.svg
  gtk/src/default/gtk-3.20/_colors.scss
  gtk/src/default/gtk-3.20/_common.scss
  gtk/src/default/gtk-3.20/_ubuntu-colors.scss
Labels: Area: GNOME-shell, Area: gtk2, Area: gtk3

#1724 shell: white lock screen cancel button
  gnome-shell/src/gnome-shell-sass/_common.scss
Labels: Area: GNOME-shell

#1785 Mimetype for application-x-python-bytecode
  icons/Suru/16x16/mimetypes/application-x-python-bytecode.png
  icons/Suru/16x16@2x/mimetypes/application-x-python-bytecode.png
  icons/Suru/24x24/mimetypes/application-x-python-bytecode.png
  icons/Suru/24x24@2x/mimetypes/application-x-python-bytecode.png
  icons/Suru/256x256/mimetypes/application-x-python-bytecode.png
  icons/Suru/256x256@2x/mimetypes/application-x-python-bytecode.png
  icons/Suru/32x32/mimetypes/application-x-python-bytecode.png
  icons/Suru/32x32@2x/mimetypes/application-x-python-bytecode.png
  icons/Suru/48x48/mimetypes/application-x-python-bytecode.png
  icons/Suru/48x48@2x/mimetypes/application-x-python-bytecode.png
  icons/src/fullcolor/mimetypes/application-x-python-bytecode.svg
Labels: Area: icon theme

#1778 Mimetype icon for .RSS
  icons/Suru/16x16/mimetypes/application-rss+xml.png
  icons/Suru/16x16@2x/mimetypes/application-rss+xml.png
  icons/Suru/24x24/mimetypes/application-rss+xml.png
  icons/Suru/24x24@2x/mimetypes/application-rss+xml.png
  icons/Suru/256x256/mimetypes/application-rss+xml.png
  icons/Suru/256x256@2x/mimetypes/application-rss+xml.png
  icons/Suru/32x32/mimetypes/application-rss+xml.png
  icons/Suru/32x32@2x/mimetypes/application-rss+xml.png
  icons/Suru/48x48/mimetypes/application-rss+xml.png
  icons/Suru/48x48@2x/mimetypes/application-rss+xml.png
  icons/src/fullcolor/mimetypes/application-rss+xml.svg
Labels: Area: icon theme

#1777 Mimetype icon for .po
  icons/Suru/16x16/mimetypes/text-x-gettext-translation.png
  icons/Suru/16x16@2x/mimetypes/text-x-gettext-translation.png
  icons/Suru/24x24/mimetypes/text-x-gettext-translation.png
  icons/Suru/24x24@2x/mimetypes/text-x-gettext-translation.png
  icons/Suru/256x256/mimetypes/text-x-gettext-translation.png
  icons/Suru/256x256@2x/mimetypes/text-x-gettext-translation.png
  icons/Suru/32x32/mimetypes/text-x-gettext-translation.png
  icons/Suru/32x32@2x/mimetypes/text-x-gettext-translation.png
  icons/Suru/48x48/mimetypes/text-x-gettext-translation.png
  icons/Suru/48x48@2x/mimetypes/text-x-gettext-translation.png
  icons/src/fullcolor/mimetypes/text-x-gettext-translation.svg
Labels: Area: icon theme

#1799 Added icon for midi mime type
  icons/Suru/16x16/mimetypes/audio-midi.png
  icons/Suru/16x16@2x/mimetypes/audio-midi.png
  icons/Suru/24x24/mimetypes/audio-midi.png
  icons/Suru/24x24@2x/mimetypes/audio-midi.png
  icons/Suru/256x256/mimetypes/audio-midi.png
  icons/Suru/256x256@2x/mimetypes/audio-midi.png
  icons/Suru/32x32/mimetypes/audio-midi.png
  icons/Suru/32x32@2x/mimetypes/audio-midi.png
  icons/Suru/48x48/mimetypes/audio-midi.png
  icons/Suru/48x48@2x/mimetypes/audio-midi.png
  icons/src/fullcolor/mimetypes/audio-midi.svg
Labels: Area: icon theme

#1801 Add icon for java archive mimetype
  icons/Suru/16x16/mimetypes/application-x-java-archive.png
  icons/Suru/16x16@2x/mimetypes/application-x-java-archive.png
  icons/Suru/24x24/mimetypes/application-x-java-archive.png
  icons/Suru/24x24@2x/mimetypes/application-x-java-archive.png
  icons/Suru/256x256/mimetypes/application-x-java-archive.png
  icons/Suru/256x256@2x/mimetypes/application-x-java-archive.png
  icons/Suru/32x32/mimetypes/application-x-java-archive.png
  icons/Suru/32x32@2x/mimetypes/application-x-java-archive.png
  icons/Suru/48x48/mimetypes/application-x-java-archive.png
  icons/Suru/48x48@2x/mimetypes/application-x-java-archive.png
  icons/src/fullcolor/mimetypes/application-x-java-archive.svg
Labels: Area: icon theme
