Repository ubuntu/yaru, pull requests merged in 2020-02, with the labels that each got.

#1853 Added icon for mimetype inode-symlink
  icons/Suru/16x16/mimetypes/inode-symlink.png
  icons/Suru/16x16@2x/mimetypes/inode-symlink.png
  icons/Suru/24x24/mimetypes/inode-symlink.png
  icons/Suru/24x24@2x/mimetypes/inode-symlink.png
  icons/Suru/256x256/mimetypes/inode-symlink.png
  icons/Suru/256x256@2x/mimetypes/inode-symlink.png
  icons/Suru/32x32/mimetypes/inode-symlink.png
  icons/Suru/32x32@2x/mimetypes/inode-symlink.png
  icons/Suru/48x48/mimetypes/inode-symlink.png
  icons/Suru/48x48@2x/mimetypes/inode-symlink.png
  icons/src/fullcolor/mimetypes/inode-symlink.svg
Labels: Area: icon theme

#1881 Fix headerbar distorted transition
  gtk/src/default/gtk-3.20/_drawing.scss
Labels: Priority: High

#1886 Added icon for mimetype text-x-meson
  icons/Suru/16x16/mimetypes/text-x-meson.png
  icons/Suru/16x16@2x/mimetypes/text-x-meson.png
  icons/Suru/24x24/mimetypes/text-x-meson.png
  icons/Suru/24x24@2x/mimetypes/text-x-meson.png
  icons/Suru/256x256/mimetypes/text-x-meson.png
  icons/Suru/256x256@2x/mimetypes/text-x-meson.png
  icons/Suru/32x32/mimetypes/text-x-meson.png
  icons/Suru/32x32@2x/mimetypes/text-x-meson.png
  icons/Suru/48x48/mimetypes/text-x-meson.png
  icons/Suru/48x48@2x/mimetypes/text-x-meson.png
  icons/src/fullcolor/mimetypes/text-x-meson.svg
Labels: Area: icon theme

#1875 Add icon for mimetype karbon
  icons/Suru/16x16/mimetypes/application-x-karbon.png
  icons/Suru/16x16@2x/mimetypes/application-x-karbon.png
  icons/Suru/24x24/mimetypes/application-x-karbon.png
  icons/Suru/24x24@2x/mimetypes/application-x-karbon.png
  icons/Suru/256x256/mimetypes/application-x-karbon.png
  icons/Suru/256x256@2x/mimetypes/application-x-karbon.png
  icons/Suru/32x32/mimetypes/application-x-karbon.png
  icons/Suru/32x32@2x/mimetypes/application-x-karbon.png
  icons/Suru/48x48/mimetypes/application-x-karbon.png
  icons/Suru/48x48@2x/mimetypes/application-x-karbon.png
  icons/src/fullcolor/mimetypes/application-x-karbon.svg
Labels: Area: icon theme

#1874 Add icon for mimetype x-pkcs7-certificates
  icons/Suru/16x16/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/16x16@2x/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/24x24/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/24x24@2x/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/256x256/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/256x256@2x/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/32x32/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/32x32@2x/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/48x48/mimetypes/application-x-pkcs7-certificates.png
  icons/Suru/48x48@2x/mimetypes/application-x-pkcs7-certificates.png
  icons/src/fullcolor/mimetypes/application-x-pkcs7-certificates.svg
Labels: Area: icon theme

#1873 Add missing icon for mimetype message-rfc822
  icons/Suru/16x16/mimetypes/message-rfc822.png
  icons/Suru/16x16@2x/mimetypes/message-rfc822.png
  icons/Suru/24x24/mimetypes/message-rfc822.png
  icons/Suru/24x24@2x/mimetypes/message-rfc822.png
  icons/Suru/256x256/mimetypes/message-rfc822.png
  icons/Suru/256x256@2x/mimetypes/message-rfc822.png
  icons/Suru/32x32/mimetypes/message-rfc822.png
  icons/Suru/32x32@2x/mimetypes/message-rfc822.png
  icons/Suru/48x48/mimetypes/message-rfc822.png
  icons/Suru/48x48@2x/mimetypes/message-rfc822.png
  icons/src/fullcolor/mimetypes/message-rfc822.svg
Labels: Area: icon theme

#1872 Add missing device icon for media-floppy
  icons/Suru/16x16/devices/media-floppy.png
  icons/Suru/16x16@2x/devices/media-floppy.png
  icons/Suru/24x24/devices/media-floppy.png
  icons/Suru/24x24@2x/devices/media-floppy.png
  icons/Suru/256x256/devices/media-floppy.png
  icons/Suru/256x256@2x/devices/media-floppy.png
  icons/Suru/32x32/devices/media-floppy.png
  icons/Suru/32x32@2x/devices/media-floppy.png
  icons/Suru/48x48/devices/media-floppy.png
  icons/Suru/48x48@2x/devices/media-floppy.png
  icons/src/fullcolor/devices/media-floppy.svg
Labels: Area: icon theme

#1877 Added device icon for media-flash
  icons/Suru/16x16/devices/media-flash.png
  icons/Suru/16x16@2x/devices/media-flash.png
  icons/Suru/24x24/devices/media-flash.png
  icons/Suru/24x24@2x/devices/media-flash.png
  icons/Suru/256x256/devices/media-flash.png
  icons/Suru/256x256@2x/devices/media-flash.png
  icons/Suru/32x32/devices/media-flash.png
  icons/Suru/32x32@2x/devices/media-flash.png
  icons/Suru/48x48/devices/media-flash.png
  icons/Suru/48x48@2x/devices/media-flash.png
  icons/src/fullcolor/devices/media-flash.svg
Labels: Area: icon theme

#1887 Added icon for subtitles
  icons/Suru/16x16/mimetypes/application-x-subrip.png
  icons/Suru/16x16@2x/mimetypes/application-x-subrip.png
  icons/Suru/24x24/mimetypes/application-x-subrip.png
  icons/Suru/24x24@2x/mimetypes/application-x-subrip.png
  icons/Suru/256x256/mimetypes/application-x-subrip.png
  icons/Suru/256x256@2x/mimetypes/application-x-subrip.png
  icons/Suru/32x32/mimetypes/application-x-subrip.png
  icons/Suru/32x32@2x/mimetypes/application-x-subrip.png
  icons/Suru/48x48/mimetypes/application-x-subrip.png
  icons/Suru/48x48@2x/mimetypes/application-x-subrip.png
  icons/src/fullcolor/mimetypes/application-x-subrip.svg
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#1913 Add symlink for .stl
  icons/Suru/16x16/mimetypes/model-stl.png
  icons/Suru/16x16/mimetypes/model-x-stl-binary.png
  icons/Suru/16x16/mimetypes/model-x.stl-ascii.png
  icons/Suru/16x16/mimetypes/model-x.stl-binary.png
  icons/Suru/16x16@2x/mimetypes/model-stl.png
  icons/Suru/16x16@2x/mimetypes/model-x-stl-binary.png
  icons/Suru/16x16@2x/mimetypes/model-x.stl-ascii.png
  icons/Suru/16x16@2x/mimetypes/model-x.stl-binary.png
  icons/Suru/24x24/mimetypes/model-stl.png
  icons/Suru/24x24/mimetypes/model-x-stl-binary.png
  icons/Suru/24x24/mimetypes/model-x.stl-ascii.png
  icons/Suru/24x24/mimetypes/model-x.stl-binary.png
  icons/Suru/24x24@2x/mimetypes/model-stl.png
  icons/Suru/24x24@2x/mimetypes/model-x-stl-binary.png
  icons/Suru/24x24@2x/mimetypes/model-x.stl-ascii.png
  icons/Suru/24x24@2x/mimetypes/model-x.stl-binary.png
  icons/Suru/256x256/mimetypes/model-stl.png
  icons/Suru/256x256/mimetypes/model-x-stl-binary.png
  icons/Suru/256x256/mimetypes/model-x.stl-ascii.png
  icons/Suru/256x256/mimetypes/model-x.stl-binary.png
  icons/Suru/256x256@2x/mimetypes/model-stl.png
  icons/Suru/256x256@2x/mimetypes/model-x-stl-binary.png
  icons/Suru/256x256@2x/mimetypes/model-x.stl-ascii.png
  icons/Suru/256x256@2x/mimetypes/model-x.stl-binary.png
  icons/Suru/32x32/mimetypes/model-stl.png
  icons/Suru/32x32/mimetypes/model-x-stl-binary.png
  icons/Suru/32x32/mimetypes/model-x.stl-ascii.png
  icons/Suru/32x32/mimetypes/model-x.stl-binary.png
  icons/Suru/32x32@2x/mimetypes/model-stl.png
  icons/Suru/32x32@2x/mimetypes/model-x-stl-binary.png
  icons/Suru/32x32@2x/mimetypes/model-x.stl-ascii.png
  icons/Suru/32x32@2x/mimetypes/model-x.stl-binary.png
  icons/Suru/48x48/mimetypes/model-stl.png
  icons/Suru/48x48/mimetypes/model-x-stl-binary.png
  icons/Suru/48x48/mimetypes/model-x.stl-ascii.png
  icons/Suru/48x48/mimetypes/model-x.stl-binary.png
  icons/Suru/48x48@2x/mimetypes/model-stl.png
  icons/Suru/48x48@2x/mimetypes/model-x-stl-binary.png
  icons/Suru/48x48@2x/mimetypes/model-x.stl-ascii.png
  icons/Suru/48x48@2x/mimetypes/model-x.stl-binary.png
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#1871 Add icon for mimetype geo
  icons/Suru/16x16/mimetypes/application-geo+json.png
  icons/Suru/16x16/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/16x16@2x/mimetypes/application-geo+json.png
  icons/Suru/16x16@2x/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/24x24/mimetypes/application-geo+json.png
  icons/Suru/24x24/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/24x24@2x/mimetypes/application-geo+json.png
  icons/Suru/24x24@2x/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/256x256/mimetypes/application-geo+json.png
  icons/Suru/256x256/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/256x256@2x/mimetypes/application-geo+json.png
  icons/Suru/256x256@2x/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/32x32/mimetypes/application-geo+json.png
  icons/Suru/32x32/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/32x32@2x/mimetypes/application-geo+json.png
  icons/Suru/32x32@2x/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/48x48/mimetypes/application-geo+json.png
  icons/Suru/48x48/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/Suru/48x48@2x/mimetypes/application-geo+json.png
  icons/Suru/48x48@2x/mimetypes/application-vnd.google-earth.kml+xml.png
  icons/src/fullcolor/mimetypes/application-geo+json.svg
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#1911 Emblem for documents, downloads and photos
  icons/Suru/16x16/emblems/emblem-documents.png
  icons/Suru/16x16/emblems/emblem-downloads.png
  icons/Suru/16x16/emblems/emblem-photos.png
  icons/Suru/16x16@2x/emblems/emblem-documents.png
  icons/Suru/16x16@2x/emblems/emblem-downloads.png
  icons/Suru/16x16@2x/emblems/emblem-photos.png
  icons/Suru/24x24/emblems/emblem-documents.png
  icons/Suru/24x24/emblems/emblem-downloads.png
  icons/Suru/24x24/emblems/emblem-photos.png
  icons/Suru/24x24@2x/emblems/emblem-documents.png
  icons/Suru/24x24@2x/emblems/emblem-downloads.png
  icons/Suru/24x24@2x/emblems/emblem-photos.png
  icons/Suru/256x256/emblems/emblem-documents.png
  icons/Suru/256x256/emblems/emblem-downloads.png
  icons/Suru/256x256/emblems/emblem-photos.png
  icons/Suru/256x256@2x/emblems/emblem-documents.png
  icons/Suru/256x256@2x/emblems/emblem-downloads.png
  icons/Suru/256x256@2x/emblems/emblem-photos.png
  icons/Suru/32x32/emblems/emblem-documents.png
  icons/Suru/32x32/emblems/emblem-downloads.png
  icons/Suru/32x32/emblems/emblem-photos.png
  icons/Suru/32x32@2x/emblems/emblem-documents.png
  icons/Suru/32x32@2x/emblems/emblem-downloads.png
  icons/Suru/32x32@2x/emblems/emblem-photos.png
  icons/Suru/48x48/emblems/emblem-documents.png
  icons/Suru/48x48/emblems/emblem-downloads.png
  icons/Suru/48x48/emblems/emblem-photos.png
  icons/Suru/48x48@2x/emblems/emblem-documents.png
  icons/Suru/48x48@2x/emblems/emblem-downloads.png
  icons/Suru/48x48@2x/emblems/emblem-photos.png
  icons/Suru/8x8/emblems/emblem-documents.png
  icons/Suru/8x8/emblems/emblem-downloads.png
  icons/Suru/8x8/emblems/emblem-photos.png
  icons/Suru/8x8@2x/emblems/emblem-documents.png
  icons/Suru/8x8@2x/emblems/emblem-downloads.png
  icons/Suru/8x8@2x/emblems/emblem-photos.png
  icons/src/fullcolor/emblems/emblem-documents.svg
  icons/src/fullcolor/emblems/emblem-downloads.svg
  icons/src/fullcolor/emblems/emblem-photos.svg
  icons/src/fullcolor/emblems/emblem-urgent.svg
  icons/src/fullcolor/emblems/emblem-videos.svg
Labels: Area: icon theme

#1934 Update legacy folder icon and added document-print-preview
  icons/Suru/16x16/legacy/document-open.png
  icons/Suru/16x16/legacy/document-print-preview.png
  icons/Suru/22x22/legacy/document-open.png
  icons/Suru/22x22/legacy/document-print-preview.png
  icons/Suru/24x24/legacy/document-open.png
  icons/Suru/24x24/legacy/document-print-preview.png
  icons/Suru/256x256/legacy/document-open.png
  icons/Suru/256x256/legacy/document-print-preview.png
  icons/Suru/32x32/legacy/document-open.png
  icons/Suru/32x32/legacy/document-print-preview.png
  icons/Suru/48x48/legacy/document-open.png
  icons/Suru/48x48/legacy/document-print-preview.png
  icons/src/fullcolor/legacy/document-open.svg
  icons/src/fullcolor/legacy/document-print-preview.svg
Labels: Area: icon theme

#1931 Mimetype icons for Krita, desktop, makefile + symlinks
  icons/Suru/16x16/mimetypes/application-x-desktop.png
  icons/Suru/16x16/mimetypes/application-x-krita.png
  icons/Suru/16x16/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/16x16/mimetypes/text-x-cmake.png
  icons/Suru/16x16/mimetypes/text-x-makefile.png
  icons/Suru/16x16@2x/mimetypes/application-x-desktop.png
  icons/Suru/16x16@2x/mimetypes/application-x-krita.png
  icons/Suru/16x16@2x/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/16x16@2x/mimetypes/text-x-cmake.png
  icons/Suru/16x16@2x/mimetypes/text-x-makefile.png
  icons/Suru/24x24/mimetypes/application-x-desktop.png
  icons/Suru/24x24/mimetypes/application-x-krita.png
  icons/Suru/24x24/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/24x24/mimetypes/text-x-cmake.png
  icons/Suru/24x24/mimetypes/text-x-makefile.png
  icons/Suru/24x24@2x/mimetypes/application-x-desktop.png
  icons/Suru/24x24@2x/mimetypes/application-x-krita.png
  icons/Suru/24x24@2x/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/24x24@2x/mimetypes/text-x-cmake.png
  icons/Suru/24x24@2x/mimetypes/text-x-makefile.png
  icons/Suru/256x256/mimetypes/application-x-desktop.png
  icons/Suru/256x256/mimetypes/application-x-krita.png
  icons/Suru/256x256/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/256x256/mimetypes/text-x-cmake.png
  icons/Suru/256x256/mimetypes/text-x-makefile.png
  icons/Suru/256x256@2x/mimetypes/application-x-desktop.png
  icons/Suru/256x256@2x/mimetypes/application-x-krita.png
  icons/Suru/256x256@2x/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/256x256@2x/mimetypes/text-x-cmake.png
  icons/Suru/256x256@2x/mimetypes/text-x-makefile.png
  icons/Suru/32x32/mimetypes/application-x-desktop.png
  icons/Suru/32x32/mimetypes/application-x-krita.png
  icons/Suru/32x32/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/32x32/mimetypes/text-x-cmake.png
  icons/Suru/32x32/mimetypes/text-x-makefile.png
  icons/Suru/32x32@2x/mimetypes/application-x-desktop.png
  icons/Suru/32x32@2x/mimetypes/application-x-krita.png
  icons/Suru/32x32@2x/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/32x32@2x/mimetypes/text-x-cmake.png
  icons/Suru/32x32@2x/mimetypes/text-x-makefile.png
  icons/Suru/48x48/mimetypes/application-x-desktop.png
  icons/Suru/48x48/mimetypes/application-x-krita.png
  icons/Suru/48x48/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/48x48/mimetypes/text-x-cmake.png
  icons/Suru/48x48/mimetypes/text-x-makefile.png
  icons/Suru/48x48@2x/mimetypes/application-x-desktop.png
  icons/Suru/48x48@2x/mimetypes/application-x-krita.png
  icons/Suru/48x48@2x/mimetypes/gnome-mime-text-x-makefile.png
  icons/Suru/48x48@2x/mimetypes/text-x-cmake.png
  icons/Suru/48x48@2x/mimetypes/text-x-makefile.png
  icons/src/fullcolor/mimetypes/application-x-desktop.svg
  icons/src/fullcolor/mimetypes/application-x-krita.svg
  icons/src/fullcolor/mimetypes/text-x-makefile.svg
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#1928 Added icons for list-add and list-remove in Yaru style
  icons/Suru/16x16/legacy/list-add.png
  icons/Suru/16x16/legacy/list-remove.png
  icons/Suru/16x16@2x/legacy/list-add.png
  icons/Suru/16x16@2x/legacy/list-remove.png
  icons/Suru/22x22/legacy/list-add.png
  icons/Suru/22x22/legacy/list-remove.png
  icons/Suru/22x22@2x/legacy/list-add.png
  icons/Suru/22x22@2x/legacy/list-remove.png
  icons/Suru/24x24/legacy/list-add.png
  icons/Suru/24x24/legacy/list-remove.png
  icons/Suru/24x24@2x/legacy/list-add.png
  icons/Suru/24x24@2x/legacy/list-remove.png
  icons/Suru/256x256/legacy/list-add.png
  icons/Suru/256x256/legacy/list-remove.png
  icons/Suru/256x256@2x/legacy/list-add.png
  icons/Suru/256x256@2x/legacy/list-remove.png
  icons/Suru/32x32/legacy/list-add.png
  icons/Suru/32x32/legacy/list-remove.png
  icons/Suru/32x32@2x/legacy/list-add.png
  icons/Suru/32x32@2x/legacy/list-remove.png
  icons/Suru/48x48/legacy/list-add.png
  icons/Suru/48x48/legacy/list-remove.png
  icons/Suru/48x48@2x/legacy/list-add.png
  icons/Suru/48x48@2x/legacy/list-remove.png
  icons/src/fullcolor/legacy/list-add.svg
  icons/src/fullcolor/legacy/list-remove.svg
Labels: Area: icon theme

#1926 Added mimetype icon for firmware
  icons/Suru/16x16/mimetypes/application-x-firmware.png
  icons/Suru/16x16@2x/mimetypes/application-x-firmware.png
  icons/Suru/24x24/mimetypes/application-x-firmware.png
  icons/Suru/24x24@2x/mimetypes/application-x-firmware.png
  icons/Suru/256x256/mimetypes/application-x-firmware.png
  icons/Suru/256x256@2x/mimetypes/application-x-firmware.png
  icons/Suru/32x32/mimetypes/application-x-firmware.png
  icons/Suru/32x32@2x/mimetypes/application-x-firmware.png
  icons/Suru/48x48/mimetypes/application-x-firmware.png
  icons/Suru/48x48@2x/mimetypes/application-x-firmware.png
  icons/src/fullcolor/mimetypes/application-x-firmware.svg
Labels: Area: icon theme

#1966 Updated document-print-preview icon to be less ambiguous
  icons/Suru/16x16/legacy/document-print-preview.png
  icons/Suru/16x16@2x/legacy/document-print-preview.png
  icons/Suru/22x22/legacy/document-print-preview.png
  icons/Suru/22x22@2x/legacy/document-print-preview.png
  icons/Suru/24x24/legacy/document-print-preview.png
  icons/Suru/24x24@2x/legacy/document-print-preview.png
  icons/Suru/256x256/legacy/document-print-preview.png
  icons/Suru/256x256@2x/legacy/document-print-preview.png
  icons/Suru/32x32/legacy/document-print-preview.png
  icons/Suru/32x32@2x/legacy/document-print-preview.png
  icons/Suru/48x48/legacy/document-print-preview.png
  icons/Suru/48x48@2x/legacy/document-print-preview.png
  icons/src/fullcolor/legacy/document-print-preview.svg
Labels: Area: icon theme

#1975 Color change for document-export icon
  icons/Suru/16x16/legacy/document-export.png
  icons/Suru/16x16@2x/legacy/document-export.png
  icons/Suru/22x22/legacy/document-export.png
  icons/Suru/22x22@2x/legacy/document-export.png
  icons/Suru/24x24/legacy/document-export.png
  icons/Suru/24x24@2x/legacy/document-export.png
  icons/Suru/256x256/legacy/document-export.png
  icons/Suru/256x256@2x/legacy/document-export.png
  icons/Suru/32x32/legacy/document-export.png
  icons/Suru/32x32@2x/legacy/document-export.png
  icons/Suru/48x48/legacy/document-export.png
  icons/Suru/48x48@2x/legacy/document-export.png
  icons/src/fullcolor/legacy/document-export.svg
Labels: Area: icon theme

#1983 Revert to upstream tabs but make them less heavy
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#1997 Shell theme upstream fixes
  gnome-shell/src/eye-not-looking-symbolic.svg
  gnome-shell/src/eye-open-negative-filled-symbolic.svg
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/_widgets.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/src/gnome-shell-sass/widgets/_dialogs.scss
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_misc.scss
  gnome-shell/src/gnome-shell-sass/widgets/_panel.scss
  gnome-shell/src/gnome-shell-sass/widgets/_workspace-switcher.scss
  gnome-shell/upstream/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/upstream/gnome-shell-sass/widgets/_keyboard.scss
  gnome-shell/upstream/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/upstream/gnome-shell-sass/widgets/_misc.scss
  gnome-shell/upstream/gnome-shell-sass/widgets/_panel.scss
  gnome-shell/upstream/key-enter.svg
  gnome-shell/upstream/key-hide.svg
  gnome-shell/upstream/key-layout.svg
  gnome-shell/upstream/key-shift-latched-uppercase.svg
  gnome-shell/upstream/key-shift-uppercase.svg
  gnome-shell/upstream/key-shift.svg
  gnome-shell/upstream/keyboard-caps-lock-filled-symbolic.svg
  gnome-shell/upstream/keyboard-enter-symbolic.svg
  gnome-shell/upstream/keyboard-hide-symbolic.svg
  gnome-shell/upstream/keyboard-layout-filled-symbolic.svg
  gnome-shell/upstream/keyboard-shift-filled-symbolic.svg
  gnome-shell/upstream/toggle-off-dark.svg
Labels: Area: GNOME-shell

#2009 Fully provide a Yaru/Suru process-working asset
  gnome-shell/src/process-working.svg
  gnome-shell/src/yaru-indicator.svg
Labels: Area: GNOME-shell
