Repository ubuntu/yaru, pull requests merged in 2020-10, with the labels that each got.

#2374 symlink text-x-r-source to text-x-r
  icons/Suru/16x16/mimetypes/text-x-r-source.png
  icons/Suru/16x16@2x/mimetypes/text-x-r-source.png
  icons/Suru/24x24/mimetypes/text-x-r-source.png
  icons/Suru/24x24@2x/mimetypes/text-x-r-source.png
  icons/Suru/256x256/mimetypes/text-x-r-source.png
  icons/Suru/256x256@2x/mimetypes/text-x-r-source.png
  icons/Suru/32x32/mimetypes/text-x-r-source.png
  icons/Suru/32x32@2x/mimetypes/text-x-r-source.png
  icons/Suru/48x48/mimetypes/text-x-r-source.png
  icons/Suru/48x48@2x/mimetypes/text-x-r-source.png
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#2418 Update README.md
  README.md
Labels: Area: GitHub Presentation

#2456 Sync gtk3 button metrics with upstream & groovy
  gtk/src/default/gtk-3.20/_common.scss
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#2414 symlink gtk-apply to dialog-apply
  icons/Suru/16x16/actions/gtk-apply.png
  icons/Suru/16x16@2x/actions/gtk-apply.png
  icons/Suru/24x24/actions/gtk-apply.png
  icons/Suru/24x24@2x/actions/gtk-apply.png
  icons/Suru/256x256/actions/gtk-apply.png
  icons/Suru/256x256@2x/actions/gtk-apply.png
  icons/Suru/32x32/actions/gtk-apply.png
  icons/Suru/32x32@2x/actions/gtk-apply.png
  icons/Suru/48x48/actions/gtk-apply.png
  icons/Suru/48x48@2x/actions/gtk-apply.png
  icons/Suru/8x8/actions/gtk-apply.png
  icons/Suru/8x8/actions/selection-checked.png
  icons/Suru/8x8@2x/actions/gtk-apply.png
  icons/Suru/8x8@2x/actions/selection-checked.png
  icons/src/symlinks/fullcolor/actions.list
Labels: Area: icon theme
