Repository ubuntu/yaru, pull requests merged in 2021-10, with the labels that each got.

#3074 Add missing Evince icons
  icons/Suru/scalable/actions/annotations-squiggly-symbolic.svg
  icons/Suru/scalable/actions/annotations-text-symbolic.svg
  icons/Suru/scalable/actions/find-unsupported-symbolic.svg
  icons/Suru/scalable/actions/outline-symbolic.svg
  icons/Suru/scalable/actions/stock-eye-symbolic.svg
  icons/Suru/scalable/actions/tools-check-spelling-symbolic.svg
  icons/Suru/scalable/actions/view-layout-symbolic.svg
  icons/Suru/scalable/actions/view-reveal-symbolic.svg
  icons/Suru/scalable/actions/view-sidebar-symbolic.svg
  icons/Suru/scalable/actions/visible-symbolic.svg
  icons/src/scalable/actions/find-unsupported-symbolic.svg
  icons/src/scalable/actions/stock-eye-symbolic.svg
  icons/src/scalable/actions/tools-check-spelling-symbolic.svg
  icons/src/scalable/actions/visible.svg
  icons/src/symlinks/symbolic/actions.list
Labels: Area: icon theme

#3075 Add missing yelp icons
  icons/Suru/scalable/actions/yelp-page-ui-symbolic.svg
  icons/Suru/scalable/categories/yelp-page-tip-symbolic.svg
  icons/Suru/scalable/emblems/yelp-page-video-symbolic.svg
  icons/Suru/scalable/status/yelp-page-problem-symbolic.svg
  icons/Suru/scalable/status/yelp-page-search-symbolic.svg
  icons/Suru/scalable/status/yelp-page-symbolic.svg
  icons/Suru/scalable/status/yelp-page-task-symbolic.svg
  icons/src/scalable/status/yelp-page-problem-symbolic.svg
  icons/src/scalable/status/yelp-page-search-symbolic.svg
  icons/src/scalable/status/yelp-page-symbolic.svg
  icons/src/scalable/status/yelp-page-task-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
  icons/src/symlinks/symbolic/categories.list
  icons/src/symlinks/symbolic/emblems.list
Labels: Area: icon theme

#3077 Add missing eog symbolic icon
  icons/Suru/scalable/actions/eog-image-gallery-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
Labels: Area: icon theme

#3076 Add missing gcc symbolic icons
  icons/Suru/scalable/actions/lock-small-symbolic.svg
  icons/Suru/scalable/actions/slideshow-symbolic.svg
  icons/Suru/scalable/apps/org.gnome.Settings-multitasking-symbolic.svg
  icons/Suru/scalable/categories/multitasking-symbolic.svg
  icons/Suru/scalable/categories/org.gnome.Settings-multitasking-symbolic.svg
  icons/Suru/scalable/devices/fingerprint-detection-symbolic.svg
  icons/Suru/scalable/status/fingerprint-detection-complete-symbolic.svg
  icons/Suru/scalable/status/fingerprint-detection-warning-symbolic.svg
  icons/Suru/scalable/status/info-symbolic.svg
  icons/Suru/scalable/status/warning-small-symbolic.svg
  icons/src/scalable/categories/multitasking-symbolic.svg
  icons/src/scalable/status/fingerprint-detection-complete-symbolic.svg
  icons/src/scalable/status/fingerprint-detection-warning-symbolic.svg
  icons/src/scalable/status/warning-small-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
  icons/src/symlinks/symbolic/apps.list
  icons/src/symlinks/symbolic/categories.list
  icons/src/symlinks/symbolic/devices.list
  icons/src/symlinks/symbolic/status.list
Labels: Area: icon theme

#3080 Add missing characters icons
  icons/Suru/scalable/categories/characters-arrow-symbolic.svg
  icons/Suru/scalable/categories/characters-bullet-symbolic.svg
  icons/Suru/scalable/categories/characters-currency-symbolic.svg
  icons/Suru/scalable/categories/characters-latin-symbolic.svg
  icons/Suru/scalable/categories/characters-math-symbolic.svg
  icons/Suru/scalable/categories/characters-picture-symbolic.svg
  icons/Suru/scalable/categories/characters-punctuation-symbolic.svg
  icons/src/scalable/categories/characters-arrow-symbolic.svg
  icons/src/scalable/categories/characters-bullet-symbolic.svg
  icons/src/scalable/categories/characters-currency-symbolic.svg
  icons/src/scalable/categories/characters-latin-symbolic.svg
  icons/src/scalable/categories/characters-math-symbolic.svg
  icons/src/scalable/categories/characters-picture-symbolic.svg
  icons/src/scalable/categories/characters-punctuation-symbolic.svg
Labels: Area: icon theme

#3081 Gtk3 fix treeview progressbar
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#3082 Add missing classes on power-profile-*-symbolic icons
  icons/Suru/scalable/status/power-profile-performance-symbolic.svg
  icons/Suru/scalable/status/power-profile-power-saver-symbolic.svg
  icons/src/scalable/status/power-profile-performance-symbolic.svg
  icons/src/scalable/status/power-profile-power-saver-symbolic.svg
Labels: Area: icon theme

#3084 Fix find-location-symbolic crooked path
  icons/Suru/scalable/actions/find-location-symbolic.svg
  icons/src/scalable/actions/find-location-symbolic.svg
Labels: Area: icon theme

#2979 Fix gnome terminal notebook header bg
  gtk/src/default/gtk-3.20/_apps.scss
Labels: Area: gtk3

#3085 Update README
  .github/readme_pics/appgrid.png
  .github/readme_pics/factory-dark.png
  .github/readme_pics/factory-def.png
  .github/readme_pics/factory-light.png
  .github/readme_pics/nautilus-dark.png
  .github/readme_pics/nautilus-def.png
  .github/readme_pics/nautilus-light.png
  .github/readme_pics/shell-dark.png
  .github/readme_pics/shell-light.png
  README.md
Labels: Area: documentation

#3089 Add dock styles to GS hc variant
  gnome-shell/src/gnome-shell-high-contrast.scss
Labels: Area: GNOME-shell, Area: high-contrast

#3091 high-contrast: fix for using correct hc-toggles
  gnome-shell/src/gnome-shell-high-contrast.scss
Labels: Area: GNOME-shell, Area: high-contrast

#3115 Revert cursor mimetype
  icons/Suru/16x16/mimetypes/image-x-cursor.png
  icons/Suru/16x16@2x/mimetypes/image-x-cursor.png
  icons/Suru/24x24/mimetypes/image-x-cursor.png
  icons/Suru/24x24@2x/mimetypes/image-x-cursor.png
  icons/Suru/256x256/mimetypes/image-x-cursor.png
  icons/Suru/256x256@2x/mimetypes/image-x-cursor.png
  icons/Suru/32x32/mimetypes/image-x-cursor.png
  icons/Suru/32x32@2x/mimetypes/image-x-cursor.png
  icons/Suru/48x48/mimetypes/image-x-cursor.png
  icons/Suru/48x48@2x/mimetypes/image-x-cursor.png
  icons/src/fullcolor/mimetypes/image-x-cursor.svg
Labels: Area: cursor theme

#2985 Proposed change to application-x-executable icons
  icons/Suru/16x16/mimetypes/application-x-executable.png
  icons/Suru/16x16/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/16x16@2x/mimetypes/application-x-executable.png
  icons/Suru/16x16@2x/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/24x24/mimetypes/application-x-executable.png
  icons/Suru/24x24/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/24x24@2x/mimetypes/application-x-executable.png
  icons/Suru/24x24@2x/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/256x256/mimetypes/application-x-executable.png
  icons/Suru/256x256/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/256x256@2x/mimetypes/application-x-executable.png
  icons/Suru/256x256@2x/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/32x32/mimetypes/application-x-executable.png
  icons/Suru/32x32/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/32x32@2x/mimetypes/application-x-executable.png
  icons/Suru/32x32@2x/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/48x48/mimetypes/application-x-executable.png
  icons/Suru/48x48/mimetypes/application-x-ms-dos-executable.png
  icons/Suru/48x48@2x/mimetypes/application-x-executable.png
  icons/Suru/48x48@2x/mimetypes/application-x-ms-dos-executable.png
  icons/src/fullcolor/mimetypes/application-x-executable.svg
  icons/src/fullcolor/mimetypes/application-x-ms-dos-executable.svg
Labels: Area: icon theme

#3130 Fix slider backdrop look
  gtk/src/default/gtk-3.20/_tweaks.scss
  gtk/src/default/gtk-3.20/assets.svg
  gtk/src/default/gtk-3.20/assets/slider-horz-scale-has-marks-above-backdrop-dark.png
  gtk/src/default/gtk-3.20/assets/slider-horz-scale-has-marks-above-backdrop-dark@2.png
  gtk/src/default/gtk-3.20/assets/slider-horz-scale-has-marks-below-backdrop-dark.png
  gtk/src/default/gtk-3.20/assets/slider-horz-scale-has-marks-below-backdrop-dark@2.png
  gtk/src/default/gtk-3.20/assets/slider-vert-scale-has-marks-above-backdrop-dark.png
  gtk/src/default/gtk-3.20/assets/slider-vert-scale-has-marks-above-backdrop-dark@2.png
  gtk/src/default/gtk-3.20/assets/slider-vert-scale-has-marks-below-backdrop-dark.png
  gtk/src/default/gtk-3.20/assets/slider-vert-scale-has-marks-below-backdrop-dark@2.png
Labels: Area: gtk3

#3134 Fix evince branch name
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions

#3152 Doc update
  CONTRIBUTING.md
  README.md
Labels: Area: documentation

#3156 Add selection-mode-symbolic icon
  icons/Yaru/scalable/actions/selection-mode-symbolic.svg
  icons/src/scalable/actions/selection-mode-symbolic.svg
Labels: Area: icon theme

#3149 Gnome shell sync slide handle
  gnome-shell/src/gnome-shell-sass/widgets/_slider.scss
Labels: Area: GNOME-shell
