Repository ubuntu/yaru, pull requests merged in 2021-07, with the labels that each got.

#2948 Fix dock and panel look
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_dock.scss
  gnome-shell/src/gnome-shell-sass/widgets/_panel.scss
Labels: Area: GNOME-shell

#2949 Symlink _colors to upstream and add overwrite file
  gtk/src/dark/gtk-4.0/_colors-yaru.scss
  gtk/src/dark/gtk-4.0/gtk.scss
  gtk/src/dark/gtk-4.0/tweaks
  gtk/src/default/gtk-4.0/_colors-yaru.scss
  gtk/src/default/gtk-4.0/_colors.scss
  gtk/src/default/gtk-4.0/gtk.scss
Labels: Area: gtk4

#2950 Revert to lighten dash background
  gnome-shell/src/gnome-shell-sass/_colors.scss
Labels: Area: GNOME-shell

#2943 Add desktop-logoff sound
  sounds/src/stereo/desktop-logoff.oga
Labels: Area: Sound-Theme

#2961 Add symlinked rtl variants for show-sidebar
  icons/Suru/scalable/actions/sidebar-show-right-rtl-symbolic.svg
  icons/Suru/scalable/actions/sidebar-show-rtl-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
Labels: Area: icon theme

#2955 Improve selected row look
  gtk/src/default/gtk-3.20/_common.scss
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#2968 Fix search entry margin-top
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
Labels: Area: GNOME-shell

#2969 add support for text-x-c++hdr mimetype
  icons/Suru/16x16/mimetypes/text-x-c++hdr.png
  icons/Suru/16x16@2x/mimetypes/text-x-c++hdr.png
  icons/Suru/24x24/mimetypes/text-x-c++hdr.png
  icons/Suru/24x24@2x/mimetypes/text-x-c++hdr.png
  icons/Suru/256x256/mimetypes/text-x-c++hdr.png
  icons/Suru/256x256@2x/mimetypes/text-x-c++hdr.png
  icons/Suru/32x32/mimetypes/text-x-c++hdr.png
  icons/Suru/32x32@2x/mimetypes/text-x-c++hdr.png
  icons/Suru/48x48/mimetypes/text-x-c++hdr.png
  icons/Suru/48x48@2x/mimetypes/text-x-c++hdr.png
  icons/src/fullcolor/mimetypes/text-x-c++hdr.svg
Labels: Area: icon theme

#2963 Suggestion for new characters app icon
  icons/Suru/16x16/apps/accessories-character-map.png
  icons/Suru/16x16@2x/apps/accessories-character-map.png
  icons/Suru/24x24/apps/accessories-character-map.png
  icons/Suru/24x24@2x/apps/accessories-character-map.png
  icons/Suru/256x256/apps/accessories-character-map.png
  icons/Suru/256x256@2x/apps/accessories-character-map.png
  icons/Suru/32x32/apps/accessories-character-map.png
  icons/Suru/32x32@2x/apps/accessories-character-map.png
  icons/Suru/48x48/apps/accessories-character-map.png
  icons/Suru/48x48@2x/apps/accessories-character-map.png
  icons/src/fullcolor/apps/accessories-character-map.svg
Labels: Area: icon theme

#2966 Suggested new icon for aisleriot
  icons/Suru/16x16/apps/gnome-aisleriot.png
  icons/Suru/16x16@2x/apps/gnome-aisleriot.png
  icons/Suru/24x24/apps/gnome-aisleriot.png
  icons/Suru/24x24@2x/apps/gnome-aisleriot.png
  icons/Suru/256x256/apps/gnome-aisleriot.png
  icons/Suru/256x256@2x/apps/gnome-aisleriot.png
  icons/Suru/32x32/apps/gnome-aisleriot.png
  icons/Suru/32x32@2x/apps/gnome-aisleriot.png
  icons/Suru/48x48/apps/gnome-aisleriot.png
  icons/Suru/48x48@2x/apps/gnome-aisleriot.png
  icons/src/fullcolor/apps/gnome-aisleriot.svg
Labels: Area: icon theme

#2972 add synaptics-package manager-icon
  icons/Suru/16x16/apps/synaptic.png
  icons/Suru/16x16@2x/apps/synaptic.png
  icons/Suru/24x24/apps/synaptic.png
  icons/Suru/24x24@2x/apps/synaptic.png
  icons/Suru/256x256/apps/synaptic.png
  icons/Suru/256x256@2x/apps/synaptic.png
  icons/Suru/32x32/apps/synaptic.png
  icons/Suru/32x32@2x/apps/synaptic.png
  icons/Suru/48x48/apps/synaptic.png
  icons/Suru/48x48@2x/apps/synaptic.png
  icons/Suru/scalable/apps/synaptic-symbolic.svg
  icons/src/fullcolor/apps/synaptic.svg
  icons/src/scalable/apps/aptdaemon-download-symbolic.svg
  icons/src/scalable/apps/synaptic-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme
