Repository ubuntu/yaru, pull requests merged in 2021-09, with the labels that each got.

#2987 Fix desktop-logoff sound encoding
  sounds/src/stereo/desktop-logoff.oga
Labels: Area: Sound-Theme

#2998 Fix missing red button into some apps
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#3000 Add missing crop-symbolic icon
  icons/Suru/scalable/actions/crop-symbolic.svg
  icons/src/scalable/actions/crop-symbolic.svg
Labels: Area: icon theme

#3003 Fix branch names
  .github/workflows/open-pr-on-changes.yaml
Labels: Area: GitHub Actions

#3004 Sync GS with upstream
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_entries.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
Labels: Area: GNOME-shell

#3005 Sync GTK4 with upstream (remove old color vars)
  gtk/src/default/gtk-4.0/_colors-yaru.scss
Labels: Area: gtk4

#2993 Fix code block formatting
  create-new-variant.md
Labels: Area: documentation

#3011 Update create-new-variant.md
  create-new-variant.md
Labels: Area: documentation

#3013 Add border and focus ring on GDM buttons
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#3019 Make cursor addition black
  icons/Suru/cursors/1081e37283d90000800003c07f3ef6bf
  icons/Suru/cursors/1081e37283d90000800003c07f3ef6bf.cur
  icons/Suru/cursors/6407b0e94181790501fd1e167b474872
  icons/Suru/cursors/6407b0e94181790501fd1e167b474872.cur
  icons/Suru/cursors/copy
  icons/Suru/cursors/copy.cur
  icons/Suru/cursors/dnd-copy
  icons/Suru/cursors/dnd-copy.cur
  icons/src/cursors/bitmaps/24x24/copy.png
  icons/src/cursors/bitmaps/24x24/dnd-copy.png
  icons/src/cursors/bitmaps/32x32/copy.png
  icons/src/cursors/bitmaps/32x32/dnd-copy.png
  icons/src/cursors/bitmaps/48x48/copy.png
  icons/src/cursors/bitmaps/48x48/dnd-copy.png
  icons/src/cursors/bitmaps/64x64/copy.png
  icons/src/cursors/bitmaps/64x64/dnd-copy.png
  icons/src/cursors/bitmaps/96x96/copy.png
  icons/src/cursors/bitmaps/96x96/dnd-copy.png
  icons/src/cursors/source-cursors.svg
Labels: Area: cursor theme

#3024 missing symbolic-icons for libhandy and libadwaita
  .github/workflows/open-pr-on-icons-changes.yaml
  icons/Suru/scalable/actions/adw-expander-arrow-symbolic.svg
  icons/Suru/scalable/actions/hdy-expander-arrow-symbolic.svg
  icons/Suru/scalable/status/adw-tab-icon-missing-symbolic.svg
  icons/Suru/scalable/status/hdy-tab-icon-missing-symbolic.svg
  icons/Suru/scalable/ui/adw-expander-arrow-symbolic.svg
  icons/Suru/scalable/ui/hdy-expander-arrow-symbolic.svg
  icons/src/scalable/actions/adw-expander-arrow-symbolic.svg
  icons/src/scalable/actions/hdy-expander-arrow-symbolic.svg
  icons/src/scalable/status/adw-tab-icon-missing-symbolic.svg
  icons/src/scalable/status/hdy-tab-icon-missing-symbolic.svg
  icons/src/symlinks/fullcolor/ui.list
  icons/src/symlinks/generate-symlinks.sh
  icons/src/symlinks/symbolic/status.list
  icons/src/symlinks/symbolic/ui.list
  icons/upstream/adwaita-symbolics.list
  icons/upstream/libadwaita-symbolics.list
  icons/upstream/libhandy-symbolics.list
Labels: Area: icon theme, Area: GitHub Actions

#3027 Fix backdrop insensitive selected text color
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#3029 Fix deprecated :insensitive pseudo-class
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#3052 Replace ls by find
  .github/workflows/open-pr-on-icons-changes.yaml
  icons/upstream/adwaita-symbolics.list
  icons/upstream/libadwaita-symbolics.list
  icons/upstream/libhandy-symbolics.list
Labels: Area: GitHub Actions

#3034 add pre-installed apps to list
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: icon theme, Area: GitHub Actions
