Repository ubuntu/yaru, pull requests merged in 2021-03, with the labels that each got.

#2687 Shell and gtk themes: do not transparentize border
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gtk/src/default/gtk-3.20/_tweaks.scss
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: GNOME-shell, Area: gtk3, Area: gtk4

#2694 Tweaks Gtk4 sliders
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: gtk4

#2702 Add power-profile-*-symbolic icons
  icons/Suru/scalable/status/power-profile-balanced-symbolic.svg
  icons/Suru/scalable/status/power-profile-performance-symbolic.svg
  icons/Suru/scalable/status/power-profile-power-saver-symbolic.svg
  icons/src/scalable/status/power-profile-balanced-symbolic.svg
  icons/src/scalable/status/power-profile-performance-symbolic.svg
  icons/src/scalable/status/power-profile-power-saver-symbolic.svg
Labels: Area: icon theme

#2706 Gtk4: dark switch improvements
  gtk/src/default/gtk-3.20/_drawing.scss
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: gtk4

#2708 Fix sliders background overflow
  gtk/src/default/gtk-3.20/_drawing.scss
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: gtk3, Area: gtk4

#2711 Add missing inode-directory-symbolic icon
  icons/Suru/scalable/mimetypes/inode-directory-symbolic.svg
  icons/src/scalable/mimetypes/inode-directory-symbolic.svg
Labels: Area: icon theme

#2723 removed text-x-plain.svg and rendered text-x-script.png
  icons/Suru/16x16/mimetypes/text-x-script.png
  icons/Suru/16x16@2x/mimetypes/text-x-script.png
  icons/Suru/24x24/mimetypes/text-x-script.png
  icons/Suru/24x24@2x/mimetypes/text-x-script.png
  icons/Suru/256x256/mimetypes/text-x-script.png
  icons/Suru/256x256@2x/mimetypes/text-x-script.png
  icons/Suru/32x32/mimetypes/text-x-script.png
  icons/Suru/32x32@2x/mimetypes/text-x-script.png
  icons/Suru/48x48/mimetypes/text-x-script.png
  icons/Suru/48x48@2x/mimetypes/text-x-script.png
  icons/src/fullcolor/mimetypes/text-x-plain.svg
Labels: Area: icon theme

#2737 Fix Gnome-shell blurry slider
  gnome-shell/src/gnome-shell-sass/widgets/_slider.scss
Labels: Area: GNOME-shell

#2735 Add symlink for update-notifier icon
  icons/Suru/16x16/apps/update-notifier.png
  icons/Suru/16x16@2x/apps/update-notifier.png
  icons/Suru/24x24/apps/update-notifier.png
  icons/Suru/24x24@2x/apps/update-notifier.png
  icons/Suru/256x256/apps/update-notifier.png
  icons/Suru/256x256@2x/apps/update-notifier.png
  icons/Suru/32x32/apps/update-notifier.png
  icons/Suru/32x32@2x/apps/update-notifier.png
  icons/Suru/48x48/apps/update-notifier.png
  icons/Suru/48x48@2x/apps/update-notifier.png
  icons/src/symlinks/fullcolor/apps.list
Labels: Area: icon theme

#2748 Fix Login Screen disabled button color
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#2758 Add fullcolor appointment-soon icon
  icons/Suru/16x16/status/appointment-soon.png
  icons/Suru/16x16@2x/status/appointment-soon.png
  icons/Suru/24x24/status/appointment-soon.png
  icons/Suru/24x24@2x/status/appointment-soon.png
  icons/Suru/256x256/status/appointment-soon.png
  icons/Suru/256x256@2x/status/appointment-soon.png
  icons/Suru/32x32/status/appointment-soon.png
  icons/Suru/32x32@2x/status/appointment-soon.png
  icons/Suru/48x48/status/appointment-soon.png
  icons/Suru/48x48@2x/status/appointment-soon.png
  icons/src/fullcolor/status/appointment-soon.svg
Labels: Area: icon theme

#2756 Add nm-device-wireless fullcolor icon
  icons/Suru/16x16/status/nm-device-wireless.png
  icons/Suru/16x16@2x/status/nm-device-wireless.png
  icons/Suru/24x24/status/nm-device-wireless.png
  icons/Suru/24x24@2x/status/nm-device-wireless.png
  icons/Suru/256x256/status/nm-device-wireless.png
  icons/Suru/256x256@2x/status/nm-device-wireless.png
  icons/Suru/32x32/status/nm-device-wireless.png
  icons/Suru/32x32@2x/status/nm-device-wireless.png
  icons/Suru/48x48/status/nm-device-wireless.png
  icons/Suru/48x48@2x/status/nm-device-wireless.png
  icons/src/fullcolor/status/nm-device-wireless.svg
Labels: Area: icon theme

#2763 Update purple icons
  icons/Suru/16x16/apps/software-properties.png
  icons/Suru/16x16/apps/software-updater.png
  icons/Suru/16x16/apps/tweaks-app.png
  icons/Suru/16x16@2x/apps/software-properties.png
  icons/Suru/16x16@2x/apps/software-updater.png
  icons/Suru/16x16@2x/apps/tweaks-app.png
  icons/Suru/24x24/apps/software-properties.png
  icons/Suru/24x24/apps/software-updater.png
  icons/Suru/24x24/apps/tweaks-app.png
  icons/Suru/24x24@2x/apps/software-properties.png
  icons/Suru/24x24@2x/apps/software-updater.png
  icons/Suru/24x24@2x/apps/tweaks-app.png
  icons/Suru/256x256/apps/software-properties.png
  icons/Suru/256x256/apps/software-updater.png
  icons/Suru/256x256/apps/tweaks-app.png
  icons/Suru/256x256@2x/apps/software-properties.png
  icons/Suru/256x256@2x/apps/software-updater.png
  icons/Suru/256x256@2x/apps/tweaks-app.png
  icons/Suru/32x32/apps/software-properties.png
  icons/Suru/32x32/apps/software-updater.png
  icons/Suru/32x32/apps/tweaks-app.png
  icons/Suru/32x32@2x/apps/software-properties.png
  icons/Suru/32x32@2x/apps/software-updater.png
  icons/Suru/32x32@2x/apps/tweaks-app.png
  icons/Suru/48x48/apps/software-properties.png
  icons/Suru/48x48/apps/software-updater.png
  icons/Suru/48x48/apps/tweaks-app.png
  icons/Suru/48x48@2x/apps/software-properties.png
  icons/Suru/48x48@2x/apps/software-updater.png
  icons/Suru/48x48@2x/apps/tweaks-app.png
  icons/src/fullcolor/apps/software-properties.svg
  icons/src/fullcolor/apps/software-updater.svg
  icons/src/fullcolor/apps/tweaks-app.svg
Labels: Area: icon theme

#2751 rename sessions according to ubuntu 21.04 sessions
  sessions/THEMENAME-xorg.desktop.in
  sessions/THEMENAME.desktop.in
  sessions/meson.build
Labels: Area: build
