Repository ubuntu/yaru, pull requests merged in 2021-08, with the labels that each got.

#2965 Cabinet drawer-based file manager icon
  icons/Suru/16x16/apps/filemanager-app.png
  icons/Suru/16x16@2x/apps/filemanager-app.png
  icons/Suru/24x24/apps/filemanager-app.png
  icons/Suru/24x24@2x/apps/filemanager-app.png
  icons/Suru/256x256/apps/filemanager-app.png
  icons/Suru/256x256@2x/apps/filemanager-app.png
  icons/Suru/32x32/apps/filemanager-app.png
  icons/Suru/32x32@2x/apps/filemanager-app.png
  icons/Suru/48x48/apps/filemanager-app.png
  icons/Suru/48x48@2x/apps/filemanager-app.png
  icons/src/fullcolor/apps/filemanager-app.svg
Labels: Area: icon theme

#2978 Fix selected row hover background
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3

#2982 update contexts in symbolic-script to add more contexts
  icons/src/scalable/render-symbolic-icons.sh
Labels: Area: icon theme

#2976 Making greys uniform on chars app icon
  icons/Suru/16x16/apps/accessories-character-map.png
  icons/Suru/16x16@2x/apps/accessories-character-map.png
  icons/Suru/24x24/apps/accessories-character-map.png
  icons/Suru/24x24@2x/apps/accessories-character-map.png
  icons/Suru/256x256/apps/accessories-character-map.png
  icons/Suru/256x256@2x/apps/accessories-character-map.png
  icons/Suru/32x32/apps/accessories-character-map.png
  icons/Suru/32x32@2x/apps/accessories-character-map.png
  icons/Suru/48x48/apps/accessories-character-map.png
  icons/Suru/48x48@2x/apps/accessories-character-map.png
  icons/src/fullcolor/apps/accessories-character-map.svg
Labels: Area: icon theme

#2981 misc. changes to gnome-shell assets
  gnome-shell/src/calendar-today.svg
  gnome-shell/src/checkbox-dark.svg
  gnome-shell/src/checkbox-focused-dark.svg
  gnome-shell/src/checkbox-focused.svg
  gnome-shell/src/checkbox-off-dark.svg
  gnome-shell/src/checkbox-off-focused-dark.svg
  gnome-shell/src/checkbox-off-focused.svg
  gnome-shell/src/checkbox-off.svg
  gnome-shell/src/checkbox.svg
  gnome-shell/src/color-pick.svg
  gnome-shell/src/dash-placeholder.svg
  gnome-shell/src/eye-not-looking-symbolic.svg
  gnome-shell/src/eye-open-negative-filled-symbolic.svg
  gnome-shell/src/gnome-shell-sass/widgets/_switches.scss
  gnome-shell/src/key-shift-latched-uppercase.svg
  gnome-shell/src/key-shift-uppercase.svg
  gnome-shell/src/keyboard-caps-lock-filled-symbolic.svg
  gnome-shell/src/keyboard-enter-symbolic.svg
  gnome-shell/src/keyboard-hide-symbolic.svg
  gnome-shell/src/keyboard-layout-filled-symbolic.svg
  gnome-shell/src/keyboard-shift-filled-symbolic.svg
  gnome-shell/src/lockscreen-gradient.svg
  gnome-shell/src/logged-in-indicator.svg
  gnome-shell/src/meson.build
  gnome-shell/src/message-indicator-symbolic.svg
  gnome-shell/src/no-events.svg
  gnome-shell/src/no-notifications.svg
  gnome-shell/src/noise-texture.png
  gnome-shell/src/pointer-double-click-symbolic.svg
  gnome-shell/src/pointer-drag-symbolic.svg
  gnome-shell/src/pointer-primary-click-symbolic.svg
  gnome-shell/src/pointer-secondary-click-symbolic.svg
  gnome-shell/src/preview-close-symbolic.svg
  gnome-shell/src/process-working-blue.svg
  gnome-shell/src/running-indicator.svg
  gnome-shell/src/source-button-border.svg
  gnome-shell/src/summary-counter.svg
  gnome-shell/src/toggle-off-dark.svg
  gnome-shell/src/toggle-off-hc.svg
  gnome-shell/src/toggle-off-intl.svg
  gnome-shell/src/toggle-off.svg
  gnome-shell/src/toggle-on-dark.svg
  gnome-shell/src/toggle-on-hc.svg
  gnome-shell/src/toggle-on-intl.svg
  gnome-shell/src/toggle-on.svg
  gnome-shell/src/workspace-placeholder.svg
  gnome-shell/src/ws-switch-arrow-down.svg
  gnome-shell/src/ws-switch-arrow-up.svg
Labels: Area: GNOME-shell

#2990 symlink for multitasking-panel
  icons/Suru/scalable/apps/org.gnome.Settings-multitasking-symbolic.svg
  icons/src/scalable/apps/org.gnome.Settings-multitasking-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#2996 Fix G-software unvisible close button
  gtk/src/default/gtk-3.20/_tweaks.scss
Labels: Area: gtk3
