Repository ubuntu/yaru, pull requests merged in 2021-06, with the labels that each got.

#2879 Sync Gtk4 with upstream
  gtk/src/default/gtk-4.0/widgets/_scale.scss
  gtk/src/default/gtk-4.0/widgets/_switch.scss
Labels: Area: gtk4

#2889 Add Gtk4 and Libadwaita install infos
  CONTRIBUTING.md
Labels: Area: documentation

#2897 Add gnome-calendar 40 symbolic icons
  icons/Suru/scalable/categories/calendar-month-symbolic.svg
  icons/Suru/scalable/categories/calendar-week-symbolic.svg
  icons/Suru/scalable/categories/calendar-year-symbolic.svg
  icons/src/scalable/categories/calendar-month-symbolic.svg
  icons/src/scalable/categories/calendar-week-symbolic.svg
  icons/src/scalable/categories/calendar-year-symbolic.svg
Labels: Area: icon theme

#2902 Gtk4 symlink to upstream
  gtk/src/default/gtk-4.0/_colors-public.scss
  gtk/src/default/gtk-4.0/_common.scss
  gtk/src/default/gtk-4.0/_drawing.scss
  gtk/src/default/gtk-4.0/_inverted-headerbar.scss
  gtk/src/default/gtk-4.0/_tweaks.scss
  gtk/src/default/gtk-4.0/_widgets.scss
  gtk/src/default/gtk-4.0/widgets
  gtk/src/default/gtk-4.0/widgets/_avatar.scss
  gtk/src/default/gtk-4.0/widgets/_buttons.scss
  gtk/src/default/gtk-4.0/widgets/_calendar.scss
  gtk/src/default/gtk-4.0/widgets/_checks.scss
  gtk/src/default/gtk-4.0/widgets/_color-chooser.scss
  gtk/src/default/gtk-4.0/widgets/_dropdowns.scss
  gtk/src/default/gtk-4.0/widgets/_emoji-chooser.scss
  gtk/src/default/gtk-4.0/widgets/_entries.scss
  gtk/src/default/gtk-4.0/widgets/_expanders.scss
  gtk/src/default/gtk-4.0/widgets/_file-chooser.scss
  gtk/src/default/gtk-4.0/widgets/_header-bar.scss
  gtk/src/default/gtk-4.0/widgets/_labels.scss
  gtk/src/default/gtk-4.0/widgets/_level-bar.scss
  gtk/src/default/gtk-4.0/widgets/_linked.scss
  gtk/src/default/gtk-4.0/widgets/_links.scss
  gtk/src/default/gtk-4.0/widgets/_lists.scss
  gtk/src/default/gtk-4.0/widgets/_menus.scss
  gtk/src/default/gtk-4.0/widgets/_message-dialog.scss
  gtk/src/default/gtk-4.0/widgets/_misc.scss
  gtk/src/default/gtk-4.0/widgets/_notebook.scss
  gtk/src/default/gtk-4.0/widgets/_paned.scss
  gtk/src/default/gtk-4.0/widgets/_popovers.scss
  gtk/src/default/gtk-4.0/widgets/_preferences.scss
  gtk/src/default/gtk-4.0/widgets/_progress-bar.scss
  gtk/src/default/gtk-4.0/widgets/_scale.scss
  gtk/src/default/gtk-4.0/widgets/_scrolling.scss
  gtk/src/default/gtk-4.0/widgets/_shortcuts-window.scss
  gtk/src/default/gtk-4.0/widgets/_sidebars.scss
  gtk/src/default/gtk-4.0/widgets/_spin-button.scss
  gtk/src/default/gtk-4.0/widgets/_spinner.scss
  gtk/src/default/gtk-4.0/widgets/_switch.scss
  gtk/src/default/gtk-4.0/widgets/_tab-view.scss
  gtk/src/default/gtk-4.0/widgets/_text-selection.scss
  gtk/src/default/gtk-4.0/widgets/_toolbars.scss
  gtk/src/default/gtk-4.0/widgets/_tooltip.scss
  gtk/src/default/gtk-4.0/widgets/_transition-shadow.scss
  gtk/src/default/gtk-4.0/widgets/_trees.scss
  gtk/src/default/gtk-4.0/widgets/_view-switcher.scss
  gtk/src/default/gtk-4.0/widgets/_views.scss
  gtk/src/default/gtk-4.0/widgets/_window.scss
Labels: Area: gtk4

#2904 Fix menus checks wiggling effect
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: gtk4

#2907 Missing snapping icons for inkscape
  icons/Suru/16x16/legacy/dialog-selectors.svg
  icons/Suru/16x16/legacy/snap-bounding-box-center.svg
  icons/Suru/16x16/legacy/snap-bounding-box-corners.svg
  icons/Suru/16x16/legacy/snap-bounding-box-edges.svg
  icons/Suru/16x16/legacy/snap-bounding-box-midpoints.svg
  icons/Suru/16x16/legacy/snap-bounding-box.svg
  icons/Suru/16x16/legacy/snap-grid-guide-intersections.svg
  icons/Suru/16x16/legacy/snap-nodes-center.svg
  icons/Suru/16x16/legacy/snap-nodes-cusp.svg
  icons/Suru/16x16/legacy/snap-nodes-intersection.svg
  icons/Suru/16x16/legacy/snap-nodes-midpoint.svg
  icons/Suru/16x16/legacy/snap-nodes-path.svg
  icons/Suru/16x16/legacy/snap-nodes-rotation-center.svg
  icons/Suru/16x16/legacy/snap-nodes-smooth.svg
  icons/Suru/16x16/legacy/snap-nodes.svg
  icons/Suru/16x16/legacy/snap-others.svg
  icons/Suru/16x16/legacy/snap.svg
  icons/Suru/16x16/legacy/zoom-center-page.svg
Labels: Area: icon theme

#2909 Rename snap-symbolic to snapcraft-symbolic
  icons/Suru/scalable/apps/snapcraft-symbolic.svg
  icons/src/scalable/apps/snapcraft-symbolic.svg
Labels: Area: icon theme

#2931 Add openhand cursor
  icons/Suru/cursors/alias.cur
  icons/Suru/cursors/bd_double_arrow.cur
  icons/Suru/cursors/bottom_tee.cur
  icons/Suru/cursors/circle.cur
  icons/Suru/cursors/context-menu.cur
  icons/Suru/cursors/crossed_circle.cur
  icons/Suru/cursors/dnd-ask.cur
  icons/Suru/cursors/dnd-copy.cur
  icons/Suru/cursors/dnd-link.cur
  icons/Suru/cursors/dnd-move.cur
  icons/Suru/cursors/dnd-no-drop.cur
  icons/Suru/cursors/dnd-none.cur
  icons/Suru/cursors/dotbox.cur
  icons/Suru/cursors/fd_double_arrow.cur
  icons/Suru/cursors/fleur.cur
  icons/Suru/cursors/grab.cur
  icons/Suru/cursors/grabbing.cur
  icons/Suru/cursors/hand1.cur
  icons/Suru/cursors/hand2.cur
  icons/Suru/cursors/left_ptr.cur
  icons/Suru/cursors/left_ptr_watch.ani
  icons/Suru/cursors/left_tee.cur
  icons/Suru/cursors/link.cur
  icons/Suru/cursors/ll_angle.cur
  icons/Suru/cursors/lr_angle.cur
  icons/Suru/cursors/no-drop.cur
  icons/Suru/cursors/openhand
  icons/Suru/cursors/plus.cur
  icons/Suru/cursors/pointer-move.cur
  icons/Suru/cursors/pointer.cur
  icons/Suru/cursors/question_arrow.cur
  icons/Suru/cursors/right_ptr.cur
  icons/Suru/cursors/right_tee.cur
  icons/Suru/cursors/sb_down_arrow.cur
  icons/Suru/cursors/sb_h_double_arrow.cur
  icons/Suru/cursors/sb_left_arrow.cur
  icons/Suru/cursors/sb_right_arrow.cur
  icons/Suru/cursors/sb_up_arrow.cur
  icons/Suru/cursors/sb_v_double_arrow.cur
  icons/Suru/cursors/size_all.cur
  icons/Suru/cursors/top_tee.cur
  icons/Suru/cursors/ul_angle.cur
  icons/Suru/cursors/ur_angle.cur
  icons/Suru/cursors/vertical-text.cur
  icons/Suru/cursors/wait.ani
  icons/Suru/cursors/watch.ani
  icons/Suru/cursors/xterm.cur
  icons/Suru/cursors/zoom-in.cur
  icons/Suru/cursors/zoom-out.cur
  icons/src/cursors/w32-make.sh
  icons/src/cursors/x11-make.sh
Labels: Area: cursor theme

#2932 Update software-properties-symbolic icon
  icons/Suru/scalable/apps/software-properties-symbolic.svg
  icons/src/scalable/apps/software-properties-symbolic.svg
Labels: Area: icon theme
