Repository ubuntu/yaru, pull requests merged in 2021-11, with the labels that each got.

#3157 Add application-x-sms-rom fullcolor icon
  icons/Yaru/16x16/mimetypes/rom.png
  icons/Yaru/16x16@2x/mimetypes/rom.png
  icons/Yaru/24x24/mimetypes/rom.png
  icons/Yaru/24x24@2x/mimetypes/rom.png
  icons/Yaru/256x256/mimetypes/rom.png
  icons/Yaru/256x256@2x/mimetypes/rom.png
  icons/Yaru/32x32/mimetypes/rom.png
  icons/Yaru/32x32@2x/mimetypes/rom.png
  icons/Yaru/48x48/mimetypes/rom.png
  icons/Yaru/48x48@2x/mimetypes/rom.png
  icons/src/fullcolor/mimetypes/application-x-sms-rom.svg
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme

#3188 Sort symbolic action listing
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions

#3206 Include Mate apps styling in master
  gtk/src/default/gtk-3.20/_apps.scss
  gtk/src/default/gtk-3.20/apps/_brisk-menu.scss
  gtk/src/default/gtk-3.20/apps/_caja.scss
  gtk/src/default/gtk-3.20/apps/_mate-multimedia-osd.scss
  gtk/src/default/gtk-3.20/apps/_mate-terminal.scss
  gtk/src/default/gtk-3.20/apps/_mate.scss
Labels: Area: gtk3, Area: mate

#3209 Use exported accent for red close button
  gtk/src/default/gtk-4.0/_tweaks.scss
Labels: Area: gtk4

#3208 Fix broken duplicated config-users icon symlink
  icons/Yaru/16x16/apps/config-users.png
  icons/Yaru/16x16@2x/apps/config-users.png
  icons/Yaru/24x24/apps/config-users.png
  icons/Yaru/24x24@2x/apps/config-users.png
  icons/Yaru/256x256/apps/config-users.png
  icons/Yaru/256x256@2x/apps/config-users.png
  icons/Yaru/32x32/apps/config-users.png
  icons/Yaru/32x32@2x/apps/config-users.png
  icons/Yaru/48x48/apps/config-users.png
  icons/Yaru/48x48@2x/apps/config-users.png
Labels: Area: icon theme

#3212 Remove adaptive margins for preferences
  gtk/src/default/gtk-3.20/libhandy/_fallback-base.scss
Labels: Area: libhandy

#3214 Sync GS with upstream: Provide :checked state for buttons
  gnome-shell/src/gnome-shell-sass/_common.scss
Labels: Area: GNOME-shell

#3215 Gtk4 fix radius
  gtk/src/default/gtk-4.0/_common.scss
Labels: Area: gtk4

#3218 Fix transparent guake notebook headerbar
  gtk/src/default/gtk-3.20/_apps.scss
  gtk/src/default/gtk-3.20/apps/_guake.scss
Labels: Area: gtk3

#3219 Fix transparent guake notebook headerbar
  gtk/src/default/gtk-3.20/_apps.scss
  gtk/src/default/gtk-3.20/apps/_guake.scss
Labels: Area: gtk3

#3220 Fix transparent guake notebook headerbar
  gtk/src/default/gtk-3.20/_apps.scss
Labels: Area: gtk3

#3222 Sync _defaults with upstream
  gtk/src/default/gtk-4.0/_defaults.scss
Labels: Area: gtk4

#3223 Add dock styles to GS hc variant
  gnome-shell/src/gnome-shell-high-contrast.scss
Labels: Area: GNOME-shell, Area: high-contrast

#3224 Add dock styles to GS hc variant
  gnome-shell/src/gnome-shell-high-contrast.scss
Labels: Area: GNOME-shell, Area: high-contrast

#3217 add gnome-shell-start
  gnome-shell/src/data/gnome-shell-theme.gresource.xml
  gnome-shell/src/gnome-shell-start.svg
Labels: Area: GNOME-shell

#3226 Set mate flavour false by default
  meson_options.txt
Labels: Area: mate

#3154 Drop outdated communitheme-snap files
  .github/ISSUE_TEMPLATE/gnome-shell_bug_report.md
  .github/ISSUE_TEMPLATE/gtk_bug_report.md
  .github/ISSUE_TEMPLATE/icon_problem_report.md
  .travis.yml
  build-helpers/gtk-common-themes-parts.yaml
  build-helpers/prepare-build-snap
  communitheme-compat/Suru-icons.theme
  communitheme-compat/communitheme-icons.theme
  communitheme-compat/communitheme-sounds.theme
  communitheme-compat/install-compat.sh
  communitheme-compat/meson.build
  meson.build
  meson_options.txt
  snap/assets/Yaru256.png
  snap/assets/banner-icon.png
  snap/assets/banner.jpg
  snap/session
  snap/snapcraft.yaml
Labels: Area: snap

#3227 Rework .window-caption
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
Labels: Area: GNOME-shell

#3230 Fix applications-system icons
  icons/Yaru-mate/16x16/apps/applications-system.png
  icons/Yaru-mate/16x16@2x/apps/applications-system.png
  icons/Yaru-mate/24x24/apps/applications-system.png
  icons/Yaru-mate/24x24@2x/apps/applications-system.png
  icons/Yaru-mate/256x256/apps/applications-system.png
  icons/Yaru-mate/256x256@2x/apps/applications-system.png
  icons/Yaru-mate/32x32/apps/applications-system.png
  icons/Yaru-mate/32x32@2x/apps/applications-system.png
  icons/Yaru-mate/48x48/apps/applications-system.png
  icons/Yaru-mate/48x48@2x/apps/applications-system.png
  icons/Yaru/16x16/apps/applications-system.png
  icons/Yaru/16x16/status/applications-system.png
  icons/Yaru/16x16@2x/apps/applications-system.png
  icons/Yaru/16x16@2x/status/applications-system.png
  icons/Yaru/24x24/apps/applications-system.png
  icons/Yaru/24x24/status/applications-system.png
  icons/Yaru/24x24@2x/apps/applications-system.png
  icons/Yaru/24x24@2x/status/applications-system.png
  icons/Yaru/256x256/apps/applications-system.png
  icons/Yaru/256x256/status/applications-system.png
  icons/Yaru/256x256@2x/apps/applications-system.png
  icons/Yaru/256x256@2x/status/applications-system.png
  icons/Yaru/32x32/apps/applications-system.png
  icons/Yaru/32x32/status/applications-system.png
  icons/Yaru/32x32@2x/apps/applications-system.png
  icons/Yaru/32x32@2x/status/applications-system.png
  icons/Yaru/48x48/apps/applications-system.png
  icons/Yaru/48x48/status/applications-system.png
  icons/Yaru/48x48@2x/apps/applications-system.png
  icons/Yaru/48x48@2x/status/applications-system.png
  icons/Yaru/scalable/categories/applications-system-symbolic.svg
  icons/src/fullcolor/default/categories/applications-system.svg
  icons/src/fullcolor/mate/categories/applications-system.svg
  icons/src/scalable/categories/applications-system-symbolic.svg
  icons/src/symlinks/fullcolor/apps.list
  icons/src/symlinks/fullcolor/status.list
Labels: Area: icon theme

#3232 Force meson options to true in build CI
  .github/workflows/build-ci.yaml
Labels: Area: GitHub Actions

#3237 Fix index.theme flavour overwriting
  icons/meson.build
Labels: Area: icon theme

#3241 improve OSK-symbolics
  gnome-shell/src/eye-not-looking-symbolic.svg
  gnome-shell/src/gnome-shell-start.svg
  gnome-shell/src/keyboard-caps-lock-filled-symbolic.svg
  gnome-shell/src/keyboard-enter-symbolic.svg
  gnome-shell/src/keyboard-layout-filled-symbolic.svg
  gnome-shell/src/keyboard-shift-filled-symbolic.svg
  gnome-shell/src/message-indicator-symbolic.svg
  gnome-shell/src/no-notifications.svg
  gnome-shell/src/pointer-secondary-click-symbolic.svg
  gnome-shell/src/process-working.svg
  icons/Yaru/scalable/apps/preferences-system-notifications-symbolic.svg
  icons/Yaru/scalable/status/notifications-disabled-symbolic.svg
  icons/src/scalable/apps/preferences-system-notifications-symbolic.svg
  icons/src/scalable/status/notifications-disabled-symbolic.svg
Labels: Area: icon theme, Area: GNOME-shell
