Repository ubuntu/yaru, pull requests merged in 2022-09, with the labels that each got.

#3717 Fix uncentered cursors
  icons/Yaru/cursors/bottom_left_corner
  icons/Yaru/cursors/bottom_left_corner.cur
  icons/Yaru/cursors/bottom_right_corner
  icons/Yaru/cursors/bottom_right_corner.cur
  icons/Yaru/cursors/bottom_side.cur
  icons/Yaru/cursors/e-resize.cur
  icons/Yaru/cursors/left_side.cur
  icons/Yaru/cursors/n-resize.cur
  icons/Yaru/cursors/ne-resize
  icons/Yaru/cursors/ne-resize.cur
  icons/Yaru/cursors/nw-resize
  icons/Yaru/cursors/nw-resize.cur
  icons/Yaru/cursors/right_side.cur
  icons/Yaru/cursors/s-resize.cur
  icons/Yaru/cursors/se-resize
  icons/Yaru/cursors/se-resize.cur
  icons/Yaru/cursors/sw-resize
  icons/Yaru/cursors/sw-resize.cur
  icons/Yaru/cursors/top_left_corner
  icons/Yaru/cursors/top_left_corner.cur
  icons/Yaru/cursors/top_right_corner
  icons/Yaru/cursors/top_right_corner.cur
  icons/Yaru/cursors/top_side.cur
  icons/Yaru/cursors/w-resize.cur
  icons/src/cursors/bitmaps/24x24/bottom_left_corner.png
  icons/src/cursors/bitmaps/32x32/bottom_left_corner.png
  icons/src/cursors/bitmaps/48x48/bottom_left_corner.png
  icons/src/cursors/bitmaps/64x64/bottom_left_corner.png
  icons/src/cursors/bitmaps/96x96/bottom_left_corner.png
  icons/src/cursors/source-cursors.svg
Labels: Area: cursor theme

#3700 GS43: minor tweaks to assets
  gnome-shell/src/colorable-assets/checkbox-focused.svg
  gnome-shell/src/colorable-assets/checkbox-off-focused.svg
  gnome-shell/src/colorable-assets/checkbox-off.svg
  gnome-shell/src/colorable-assets/checkbox.svg
  gnome-shell/src/data/icons/scalable/actions/dark-mode-symbolic.svg
Labels: Area: GNOME-shell

#3725 Sync Gnome Shell with upstream #3724
  gnome-shell/src/gnome-shell-sass/widgets/_quick-settings.scss
  gnome-shell/src/pad-osd.css
Labels: Area: GNOME-shell

#3728 Archive Manager and Rhythmbox icon are upstream
  icons/Yaru/16x16/apps/org.gnome.FileRoller.png
  icons/Yaru/16x16/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/16x16@2x/apps/org.gnome.FileRoller.png
  icons/Yaru/16x16@2x/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/24x24/apps/org.gnome.FileRoller.png
  icons/Yaru/24x24/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/24x24@2x/apps/org.gnome.FileRoller.png
  icons/Yaru/24x24@2x/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/256x256/apps/org.gnome.FileRoller.png
  icons/Yaru/256x256/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/256x256@2x/apps/org.gnome.FileRoller.png
  icons/Yaru/256x256@2x/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/32x32/apps/org.gnome.FileRoller.png
  icons/Yaru/32x32/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/32x32@2x/apps/org.gnome.FileRoller.png
  icons/Yaru/32x32@2x/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/48x48/apps/org.gnome.FileRoller.png
  icons/Yaru/48x48/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/48x48@2x/apps/org.gnome.FileRoller.png
  icons/Yaru/48x48@2x/apps/org.gnome.Rhythmbox3.png
  icons/Yaru/scalable/apps/org.gnome.FileRoller-symbolic.svg
  icons/Yaru/scalable/apps/org.gnome.Rhythmbox3-symbolic.svg
  icons/src/symlinks/fullcolor/apps.list
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3653 Update MS Office icons to 365 look
  icons/Yaru/16x16/mimetypes/application-vnd.ms-access.png
  icons/Yaru/16x16/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/16x16/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/16x16/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/16x16/mimetypes/application-vnd.ms-word.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.ms-access.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.ms-word.png
  icons/Yaru/24x24/mimetypes/application-vnd.ms-access.png
  icons/Yaru/24x24/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/24x24/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/24x24/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/24x24/mimetypes/application-vnd.ms-word.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.ms-access.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.ms-word.png
  icons/Yaru/256x256/mimetypes/application-vnd.ms-access.png
  icons/Yaru/256x256/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/256x256/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/256x256/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/256x256/mimetypes/application-vnd.ms-word.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.ms-access.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.ms-word.png
  icons/Yaru/32x32/mimetypes/application-vnd.ms-access.png
  icons/Yaru/32x32/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/32x32/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/32x32/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/32x32/mimetypes/application-vnd.ms-word.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.ms-access.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.ms-word.png
  icons/Yaru/48x48/mimetypes/application-vnd.ms-access.png
  icons/Yaru/48x48/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/48x48/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/48x48/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/48x48/mimetypes/application-vnd.ms-word.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.ms-access.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.ms-excel.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.ms-powerpoint.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.ms-publisher.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.ms-word.png
  icons/src/fullcolor/default/mimetypes/application-vnd.ms-access.svg
  icons/src/fullcolor/default/mimetypes/application-vnd.ms-excel.svg
  icons/src/fullcolor/default/mimetypes/application-vnd.ms-powerpoint.svg
  icons/src/fullcolor/default/mimetypes/application-vnd.ms-publisher.svg
  icons/src/fullcolor/default/mimetypes/application-vnd.ms-word.svg
Labels: Area: icon theme

#3731 Fix render-bitmaps.py
  icons/src/fullcolor/render-bitmaps.py
Labels: Area: scripts

#3719 Tone down accents from quick settings
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/widgets/_quick-settings.scss
Labels: Area: GNOME-shell

#3699 gtk: Optimize accent color definition taking background in account
  common/sass-utils.scss
  common/test-sass-utils.scss
  gtk/src/default/gtk-3.0/_colors.scss
  gtk/src/default/gtk-4.0/_colors.scss
  gtk/src/meson.build
Labels: Area: Accent Colors

#3744 Sync Gtk4 with upstream #3739
  gtk/src/default/gtk-4.0/_common.scss
Labels: Area: gtk4
