Repository ubuntu/yaru, pull requests merged in 2022-02, with the labels that each got.

#3350 Fix padlock-open-symbolic icon
  icons/Yaru/scalable/emblems/padlock-open-symbolic.svg
  icons/src/scalable/emblems/padlock-open-symbolic.svg
Labels: Area: icon theme

#3356 Fix GH actions branches
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions

#3353 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/widgets/_panel.scss
Labels: Area: GNOME-shell

#3362 Remove Cinnamon orange close assets
  cinnamon/src/dark/dark-assets/misc/close-active.svg
  cinnamon/src/dark/dark-assets/misc/close-hover.svg
  cinnamon/src/dark/dark-assets/misc/close.svg
  cinnamon/src/default/_tweaks.scss
  cinnamon/src/default/common-assets/misc/close-active.svg
  cinnamon/src/default/common-assets/misc/close-hover.svg
  cinnamon/src/default/common-assets/misc/close.svg
  cinnamon/src/default/light-assets/misc/close-active.svg
  cinnamon/src/default/light-assets/misc/close-hover.svg
  cinnamon/src/default/light-assets/misc/close.svg
Labels: Area: cinnamon

#3361 Sync GCC symbolic icons with upstream 3359
  icons/Yaru/scalable/categories/diagnostics-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-about-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-accessibility-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-appearance-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-applications-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-bluetooth-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-camera-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-color-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-default-apps-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-diagnostics-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-display-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-file-history-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-keyboard-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-location-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-microphone-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-mobile-network-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-mouse-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-network-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-notifications-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-online-accounts-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-power-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-printers-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-region-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-removable-media-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-screen-lock-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-search-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-sharing-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-sound-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-thunderbolt-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-time-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-users-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-wacom-symbolic.svg
  icons/src/scalable/categories/diagnostics-symbolic.svg
  icons/src/symlinks/symbolic/categories.list
Labels: Area: icon theme

#3360 Sync symbolic icons with upstream
  icons/Yaru/scalable/actions/go-jump-rtl-symbolic.svg
  icons/Yaru/scalable/status/semi-starred-rtl-symbolic.svg
  icons/Yaru/scalable/status/view-wrapped-rtl-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
  icons/src/symlinks/symbolic/status.list
Labels: Area: icon theme

#3367 Sync GS with upstream
  gnome-shell/src/gnome-shell-sass/widgets/_screenshot.scss
Labels: Area: GNOME-shell

#3374 Sync icon theme with upstream
  icons/Yaru/scalable/apps/community-symbolic.svg
  icons/Yaru/scalable/apps/webpage-symbolic.svg
  icons/Yaru/scalable/emblems/explore-symbolic.svg
  icons/src/scalable/emblems/explore-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3377 Fix mate-dark gtk4 variant
  gtk/src/mate-dark/gtk-4.0/gtk-dark.scss
  gtk/src/mate-dark/gtk-4.0/gtk.scss
Labels: Area: mate, Area: gtk4

#3378 Make MATE panel dark
  gtk/src/default/gtk-3.0/_colors.scss
  gtk/src/default/gtk-3.0/apps/_mate.scss
Labels: Area: mate

#3379 Sync Gtk3 with upstream
  gtk/src/default/gtk-3.0/_common.scss
Labels: Area: gtk3

#3333 cinnamon: make it true in rules and refine assets
  cinnamon/src/dark/dark-assets/checkbox/checkbox-checked-focused.svg
  cinnamon/src/dark/dark-assets/checkbox/checkbox-checked.svg
  cinnamon/src/dark/dark-assets/checkbox/checkbox-unchecked-focused.svg
  cinnamon/src/dark/dark-assets/checkbox/checkbox-unchecked.svg
  cinnamon/src/dark/dark-assets/switch/switch-off.svg
  cinnamon/src/dark/dark-assets/switch/switch-on.svg
  cinnamon/src/default/_tweaks.scss
  cinnamon/src/default/light-assets/checkbox/checkbox-checked-focused.svg
  cinnamon/src/default/light-assets/checkbox/checkbox-checked.svg
  cinnamon/src/default/light-assets/checkbox/checkbox-unchecked-focused.svg
  cinnamon/src/default/light-assets/checkbox/checkbox-unchecked.svg
  cinnamon/src/default/light-assets/switch/switch-off.svg
  cinnamon/src/default/light-assets/switch/switch-on.svg
Labels: Area: cinnamon

#3386 Sync icon theme with upstream 3382
  icons/Yaru/scalable/actions/format-text-plaintext-symbolic.svg
  icons/Yaru/scalable/actions/format-text-rich-symbolic.svg
  icons/src/scalable/actions/format-text-plaintext-symbolic.svg
  icons/src/scalable/actions/format-text-rich-symbolic.svg
Labels: Area: icon theme

#3387 Add review-symbolic icon 3383
  icons/Yaru/scalable/actions/review-symbolic.svg
  icons/src/scalable/actions/review-symbolic.svg
Labels: Area: icon theme

#3394 Sync Gtk3 light headerbar bg with Gtk4
  gtk/src/default/gtk-3.0/_common.scss
Labels: Area: gtk3

#3395 Sync Gtk3 + Libhandy + GS with Gtk4 radii
  gnome-shell/src/gnome-shell-sass/_common.scss
  gtk/src/default/gtk-3.0/_common.scss
  gtk/src/default/gtk-3.0/libhandy/_Adwaita-base.scss
Labels: Area: GNOME-shell, Area: gtk3, Area: libhandy

#3385 Fix meson warning
  gnome-shell/src/meson.build
  meson.build
Labels: Area: build

#3396 Sync icon theme with upstream
  icons/Yaru/scalable/apps/help-link-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3397 Remove shadow on normal buttons
  gtk/src/default/gtk-3.0/_drawing.scss
Labels: Area: gtk3

#3364 Add cinnamon variants
  cinnamon/meson.build
  cinnamon/src/cinnamon-dark/_colors.scss
  cinnamon/src/cinnamon-dark/_common.scss
  cinnamon/src/cinnamon-dark/_drawing.scss
  cinnamon/src/cinnamon-dark/_palette.scss
  cinnamon/src/cinnamon-dark/_tweaks.scss
  cinnamon/src/cinnamon-dark/cinnamon.scss
  cinnamon/src/cinnamon-dark/common-assets
  cinnamon/src/cinnamon-dark/dark-assets/checkbox/checkbox-checked-focused.svg
  cinnamon/src/cinnamon-dark/dark-assets/checkbox/checkbox-checked.svg
  cinnamon/src/cinnamon-dark/dark-assets/checkbox/checkbox-unchecked-focused.svg
  cinnamon/src/cinnamon-dark/dark-assets/checkbox/checkbox-unchecked.svg
  cinnamon/src/cinnamon-dark/dark-assets/menu
  cinnamon/src/cinnamon-dark/dark-assets/misc
  cinnamon/src/cinnamon-dark/dark-assets/switch/switch-off.svg
  cinnamon/src/cinnamon-dark/dark-assets/switch/switch-on.svg
  cinnamon/src/cinnamon-dark/thumbnail.png
  cinnamon/src/cinnamon/_colors.scss
  cinnamon/src/cinnamon/_common.scss
  cinnamon/src/cinnamon/_drawing.scss
  cinnamon/src/cinnamon/_palette.scss
  cinnamon/src/cinnamon/_tweaks.scss
  cinnamon/src/cinnamon/cinnamon.scss
  cinnamon/src/cinnamon/common-assets/menu
  cinnamon/src/cinnamon/common-assets/misc
  cinnamon/src/cinnamon/common-assets/panel/activities-active.svg
  cinnamon/src/cinnamon/common-assets/panel/activities.svg
  cinnamon/src/cinnamon/common-assets/panel/window-list-active-bottom.svg
  cinnamon/src/cinnamon/common-assets/panel/window-list-active-top.svg
  cinnamon/src/cinnamon/light-assets/checkbox/checkbox-checked-focused.svg
  cinnamon/src/cinnamon/light-assets/checkbox/checkbox-checked.svg
  cinnamon/src/cinnamon/light-assets/checkbox/checkbox-unchecked-focused.svg
  cinnamon/src/cinnamon/light-assets/checkbox/checkbox-unchecked.svg
  cinnamon/src/cinnamon/light-assets/menu
  cinnamon/src/cinnamon/light-assets/misc
  cinnamon/src/cinnamon/light-assets/switch/switch-off.svg
  cinnamon/src/cinnamon/light-assets/switch/switch-on.svg
  cinnamon/src/cinnamon/thumbnail.png
  meson_options.txt
Labels: Area: cinnamon

#3406 Fix Gtk3 headerbar radius
  gtk/src/default/gtk-3.0/_common.scss
Labels: Area: gtk3

#3409 Fix Gtk4 mate dark assets symlink
  gtk/src/mate-dark/gtk-4.0/assets
Labels: Area: mate, Area: gtk4

#3408 Sync filemanager-app icon
  icons/Yaru-mate/16x16/apps/filemanager-app.png
  icons/Yaru-mate/16x16@2x/apps/filemanager-app.png
  icons/Yaru-mate/24x24/apps/filemanager-app.png
  icons/Yaru-mate/24x24@2x/apps/filemanager-app.png
  icons/Yaru-mate/256x256/apps/filemanager-app.png
  icons/Yaru-mate/256x256@2x/apps/filemanager-app.png
  icons/Yaru-mate/32x32/apps/filemanager-app.png
  icons/Yaru-mate/32x32@2x/apps/filemanager-app.png
  icons/Yaru-mate/48x48/apps/filemanager-app.png
  icons/Yaru-mate/48x48@2x/apps/filemanager-app.png
  icons/src/fullcolor/mate/apps/filemanager-app.svg
Labels: Area: icon theme, Area: mate

#3330 Dash to dock updates for GNOME 41 (and dash-to-dock 71+)
  gnome-shell/src/gnome-shell-sass/_dock.scss
Labels: Area: GNOME-shell

#3412 Generate missing mate symlinks
  icons/Yaru-mate/16x16/apps/nautilus.png
  icons/Yaru-mate/16x16/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/16x16/apps/system-file-manager.png
  icons/Yaru-mate/16x16@2x/apps/nautilus.png
  icons/Yaru-mate/16x16@2x/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/16x16@2x/apps/system-file-manager.png
  icons/Yaru-mate/24x24/apps/nautilus.png
  icons/Yaru-mate/24x24/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/24x24/apps/system-file-manager.png
  icons/Yaru-mate/24x24@2x/apps/nautilus.png
  icons/Yaru-mate/24x24@2x/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/24x24@2x/apps/system-file-manager.png
  icons/Yaru-mate/256x256/apps/nautilus.png
  icons/Yaru-mate/256x256/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/256x256/apps/system-file-manager.png
  icons/Yaru-mate/256x256@2x/apps/nautilus.png
  icons/Yaru-mate/256x256@2x/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/256x256@2x/apps/system-file-manager.png
  icons/Yaru-mate/32x32/apps/nautilus.png
  icons/Yaru-mate/32x32/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/32x32/apps/system-file-manager.png
  icons/Yaru-mate/32x32@2x/apps/nautilus.png
  icons/Yaru-mate/32x32@2x/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/32x32@2x/apps/system-file-manager.png
  icons/Yaru-mate/48x48/apps/nautilus.png
  icons/Yaru-mate/48x48/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/48x48/apps/system-file-manager.png
  icons/Yaru-mate/48x48@2x/apps/nautilus.png
  icons/Yaru-mate/48x48@2x/apps/org.gnome.Nautilus.png
  icons/Yaru-mate/48x48@2x/apps/system-file-manager.png
Labels: Area: icon theme, Area: mate

#3413 Fix Yaru-mate-dark symlinks
  gtk/src/mate-dark/gtk-4.0/_colors-yaru.scss
  gtk/src/mate-dark/gtk-4.0/_colors.scss
  gtk/src/mate-dark/gtk-4.0/_common.scss
  gtk/src/mate-dark/gtk-4.0/_compat-colors.scss
  gtk/src/mate-dark/gtk-4.0/_defaults.scss
  gtk/src/mate-dark/gtk-4.0/_drawing.scss
  gtk/src/mate-dark/gtk-4.0/_functions.scss
  gtk/src/mate-dark/gtk-4.0/_palette.scss
  gtk/src/mate-dark/gtk-4.0/_tweaks.scss
  gtk/src/mate-dark/gtk-4.0/_widgets.scss
  gtk/src/mate-dark/gtk-4.0/widgets
Labels: Area: mate, Area: gtk4

#3415 gtk4: refine assets for checkbutton and radiobutton
  gtk/src/default/gtk-4.0/assets/bullet-symbolic.svg
  gtk/src/default/gtk-4.0/assets/bullet-symbolic.symbolic.png
  gtk/src/default/gtk-4.0/assets/bullet@2-symbolic.symbolic.png
  gtk/src/default/gtk-4.0/assets/check-symbolic.svg
  gtk/src/default/gtk-4.0/assets/check-symbolic.symbolic.png
  gtk/src/default/gtk-4.0/assets/check@2-symbolic.symbolic.png
Labels: Area: gtk4

#3417 Fix dialog border-radius
  gtk/src/default/gtk-3.0/_common.scss
Labels: Area: gtk3

#3422 Add start-here-symbolic mate icon
  icons/Yaru-mate/index.theme
  icons/Yaru-mate/scalable/places/start-here-symbolic.svg
  icons/src/scalable/mate/places/start-here-symbolic.svg
Labels: Area: icon theme, Area: mate

#3424 Fix apps_label color in light theme
  gnome-shell/src/gnome-shell-sass/_common.scss
Labels: Area: GNOME-shell

#3425 Fix keyboard in light and dark theme
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/widgets/_keyboard.scss
Labels: Area: GNOME-shell
