Repository ubuntu/yaru, pull requests merged in 2022-03, with the labels that each got.

#3428 Fix foo-scroll-area visual glitch
  gtk/src/default/gtk-3.0/_apps.scss
  gtk/src/default/gtk-3.0/apps/_mate-control-center.scss
Labels: Area: gtk3, Area: mate

#3429 update default and dark gtksourceview styles
  gtksourceview/src/dark.xml.in
  gtksourceview/src/default.xml.in
Labels: Area: GtkSourceView

#3431 Fix invisible caret in caja
  gtk/src/default/gtk-3.0/apps/_caja.scss
Labels: Area: mate

#3434 Fix search entry look
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
Labels: Area: GNOME-shell

#3438 Fix close button hover bg
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
Labels: Area: GNOME-shell

#3439 Fix slider in light theme
  gnome-shell/src/gnome-shell-sass/widgets/_slider.scss
Labels: Area: GNOME-shell

#3440 Fixe GS buttons look
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
Labels: Area: GNOME-shell

#3441 Fix calendar insensitive label
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
Labels: Area: GNOME-shell

#3442 Fix popovers menu item states
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
Labels: Area: GNOME-shell

#3445 Sync Gnome Shell with upstream 3444
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_dash.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_search-results.scss
  gnome-shell/src/gnome-shell-sass/widgets/_switcher-popup.scss
Labels: Area: GNOME-shell

#3446 Fix search entry alignement
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
Labels: Area: GNOME-shell

#3447 Fix focused unlock-dialog entry
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#3451 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
Labels: Area: GNOME-shell

#3450 Sync icon theme with upstream
  icons/Yaru/scalable/actions/media-playback-start-rtl-symbolic.svg
  icons/Yaru/scalable/actions/media-playback-start-symbolic-rtl.svg
  icons/Yaru/scalable/actions/media-seek-backward-rtl-symbolic.svg
  icons/Yaru/scalable/actions/media-seek-backward-symbolic-rtl.svg
  icons/Yaru/scalable/actions/media-seek-forward-rtl-symbolic.svg
  icons/Yaru/scalable/actions/media-seek-forward-symbolic-rtl.svg
  icons/Yaru/scalable/actions/media-skip-backward-rtl-symbolic.svg
  icons/Yaru/scalable/actions/media-skip-backward-symbolic-rtl.svg
  icons/Yaru/scalable/actions/media-skip-forward-rtl-symbolic.svg
  icons/Yaru/scalable/actions/media-skip-forward-symbolic-rtl.svg
  icons/Yaru/scalable/actions/view-paged-rtl-symbolic.svg
  icons/Yaru/scalable/actions/view-paged-symbolic-rtl.svg
  icons/Yaru/scalable/actions/view-sort-ascending-rtl-symbolic.svg
  icons/Yaru/scalable/actions/view-sort-ascending-symbolic-rtl.svg
  icons/Yaru/scalable/actions/view-sort-descending-rtl-symbolic.svg
  icons/Yaru/scalable/actions/view-sort-descending-symbolic-rtl.svg
  icons/Yaru/scalable/apps/system-switch-user-rtl-symbolic.svg
  icons/Yaru/scalable/apps/system-switch-user-symbolic-rtl.svg
  icons/Yaru/scalable/status/media-playlist-consecutive-rtl-symbolic.svg
  icons/Yaru/scalable/status/media-playlist-consecutive-symbolic-rtl.svg
  icons/Yaru/scalable/status/media-playlist-no-shuffle-rtl-symbolic.svg
  icons/Yaru/scalable/status/media-playlist-no-shuffle-symbolic-rtl.svg
  icons/Yaru/scalable/status/media-playlist-shuffle-rtl-symbolic-rtl.svg
  icons/Yaru/scalable/status/power-profile-performance-rtl-symbolic.svg
  icons/Yaru/scalable/status/power-profile-power-saver-rtl-symbolic.svg
  icons/src/scalable/default/actions/media-playback-start-symbolic-rtl.svg
  icons/src/scalable/default/status/media-playlist-consecutive-symbolic-rtl.svg
  icons/src/scalable/default/status/power-profile-performance-rtl-symbolic.svg
  icons/src/scalable/default/status/power-profile-power-saver-rtl-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
  icons/src/symlinks/symbolic/apps.list
  icons/src/symlinks/symbolic/status.list
Labels: Area: icon theme

#3459 Cinnamon add thumbnails
  cinnamon-shell/src/cinnamon-dark/thumbnail.png
  cinnamon-shell/src/cinnamon/thumbnail.png
  cinnamon-shell/src/dark/thumbnail.png
  cinnamon-shell/src/default/thumbnail.png
  gtk/src/dark/gtk-3.0/thumbnail.png
  gtk/src/default/gtk-3.0/thumbnail.png
  gtk/src/meson.build
  icons/meson.build
  icons/src/cursors/thumbnail.png
  metacity/src/dark/thumbnail.png
  metacity/src/default/thumbnail.png
  metacity/src/meson.build
Labels: Area: gtk3, Area: build, Area: cursor theme, Area: cinnamon, Area: metacity

#3465 Style login dialog entry unfocused state
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#3466 Fix page navigation arrow
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
Labels: Area: GNOME-shell

#3467 Fix notification look
  gnome-shell/src/gnome-shell-sass/widgets/_notifications.scss
Labels: Area: GNOME-shell

#3452 Add support for icon theme variants symbolic symlinks
  icons/Yaru/scalable/status/network-cellular-signal-ok-secure-rtl-symbolic.svg
  icons/Yaru/scalable/status/network-cellular-signal-ok-secure-symbolic-rtl.svg
  icons/src/symlinks/generate-symlinks.sh
Labels: Area: icon theme

#3471 Fix app folder edit button
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
Labels: Area: GNOME-shell

#3458 Add HWP Mimetype icon
  icons/Yaru/16x16/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/16x16/mimetypes/application-x-hwp.png
  icons/Yaru/16x16@2x/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/16x16@2x/mimetypes/application-x-hwp.png
  icons/Yaru/24x24/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/24x24/mimetypes/application-x-hwp.png
  icons/Yaru/24x24@2x/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/24x24@2x/mimetypes/application-x-hwp.png
  icons/Yaru/256x256/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/256x256/mimetypes/application-x-hwp.png
  icons/Yaru/256x256@2x/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/256x256@2x/mimetypes/application-x-hwp.png
  icons/Yaru/32x32/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/32x32/mimetypes/application-x-hwp.png
  icons/Yaru/32x32@2x/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/32x32@2x/mimetypes/application-x-hwp.png
  icons/Yaru/48x48/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/48x48/mimetypes/application-x-hwp.png
  icons/Yaru/48x48@2x/mimetypes/application-vnd.haansoft-hwp.png
  icons/Yaru/48x48@2x/mimetypes/application-x-hwp.png
  icons/src/fullcolor/default/mimetypes/application-x-hwp.svg
  icons/src/symlinks/fullcolor/mimetypes.list
Labels: Area: icon theme, good first contribution

#3477 added symlink to timeshift
  icons/Yaru/16x16/apps/timeshift.png
  icons/Yaru/16x16@2x/apps/timeshift.png
  icons/Yaru/24x24/apps/timeshift.png
  icons/Yaru/24x24@2x/apps/timeshift.png
  icons/Yaru/256x256/apps/timeshift.png
  icons/Yaru/256x256@2x/apps/timeshift.png
  icons/Yaru/32x32/apps/timeshift.png
  icons/Yaru/32x32@2x/apps/timeshift.png
  icons/Yaru/48x48/apps/timeshift.png
  icons/Yaru/48x48@2x/apps/timeshift.png
  icons/Yaru/scalable/apps/timeshift-symbolic.svg
  icons/src/symlinks/fullcolor/apps.list
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3478 Add missing explore2 icon
  icons/Yaru/scalable/emblems/explore2-symbolic.svg
  icons/src/symlinks/symbolic/emblems.list
Labels: Area: icon theme

#3480 Fix looking glass entry look
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
Labels: Area: GNOME-shell

#3481 Fix dock item border-radius
  gnome-shell/src/gnome-shell-sass/_dock.scss
Labels: Area: GNOME-shell

#3482 Gs dash label border and app-dot realign
  gnome-shell/src/gnome-shell-sass/widgets/_dash.scss
Labels: Area: GNOME-shell

#3484 Add ding styling
  gtk/src/default/gtk-3.0/_apps.scss
  gtk/src/default/gtk-3.0/apps/_ding.scss
Labels: Area: GNOME-shell, Area: gtk3

#3507 Fix go-last-symbolic-rtl icon
  icons/Yaru/scalable/actions/go-last-symbolic-rtl.svg
  icons/src/symlinks/symbolic/actions.list
Labels: Area: icon theme

#3508 Mate icon theme add variants
  icons/Yaru-mate/16x16/actions/folder-new.png
  icons/Yaru-mate/16x16/actions/folder_new.png
  icons/Yaru-mate/16x16/legacy/document-export.png
  icons/Yaru-mate/16x16/places/start-here.png
  icons/Yaru-mate/16x16@2x/actions/folder-new.png
  icons/Yaru-mate/16x16@2x/actions/folder_new.png
  icons/Yaru-mate/16x16@2x/legacy/document-export.png
  icons/Yaru-mate/16x16@2x/places/start-here.png
  icons/Yaru-mate/22x22/actions/folder-new.png
  icons/Yaru-mate/22x22/legacy/document-export.png
  icons/Yaru-mate/22x22/places/start-here.png
  icons/Yaru-mate/22x22@2x/actions/folder-new.png
  icons/Yaru-mate/22x22@2x/legacy/document-export.png
  icons/Yaru-mate/22x22@2x/places/start-here.png
  icons/Yaru-mate/24x24/actions/folder-new.png
  icons/Yaru-mate/24x24/actions/folder_new.png
  icons/Yaru-mate/24x24/legacy/document-export.png
  icons/Yaru-mate/24x24/places/start-here.png
  icons/Yaru-mate/24x24@2x/actions/folder-new.png
  icons/Yaru-mate/24x24@2x/actions/folder_new.png
  icons/Yaru-mate/24x24@2x/legacy/document-export.png
  icons/Yaru-mate/24x24@2x/places/start-here.png
  icons/Yaru-mate/256x256/actions/folder-new.png
  icons/Yaru-mate/256x256/actions/folder_new.png
  icons/Yaru-mate/256x256/legacy/document-export.png
  icons/Yaru-mate/256x256/places/start-here.png
  icons/Yaru-mate/256x256@2x/actions/folder-new.png
  icons/Yaru-mate/256x256@2x/actions/folder_new.png
  icons/Yaru-mate/256x256@2x/legacy/document-export.png
  icons/Yaru-mate/256x256@2x/places/start-here.png
  icons/Yaru-mate/32x32/actions/folder-new.png
  icons/Yaru-mate/32x32/actions/folder_new.png
  icons/Yaru-mate/32x32/legacy/document-export.png
  icons/Yaru-mate/32x32/places/start-here.png
  icons/Yaru-mate/32x32@2x/actions/folder-new.png
  icons/Yaru-mate/32x32@2x/actions/folder_new.png
  icons/Yaru-mate/32x32@2x/legacy/document-export.png
  icons/Yaru-mate/32x32@2x/places/start-here.png
  icons/Yaru-mate/48x48/actions/folder-new.png
  icons/Yaru-mate/48x48/actions/folder_new.png
  icons/Yaru-mate/48x48/legacy/document-export.png
  icons/Yaru-mate/48x48/places/start-here.png
  icons/Yaru-mate/48x48@2x/actions/folder-new.png
  icons/Yaru-mate/48x48@2x/actions/folder_new.png
  icons/Yaru-mate/48x48@2x/legacy/document-export.png
  icons/Yaru-mate/48x48@2x/places/start-here.png
  icons/src/fullcolor/mate/actions/folder-new.svg
  icons/src/fullcolor/mate/legacy/document-export.svg
  icons/src/fullcolor/mate/places/start-here.svg
Labels: Area: icon theme

#3512 Remove typo in _search-entry
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
Labels: Area: GNOME-shell

#3513 Fix lock screen in light theme
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#3514 Update Ubuntu logo
  icons/Yaru/16x16/apps/ubiquity.png
  icons/Yaru/16x16@2x/apps/ubiquity.png
  icons/Yaru/24x24/apps/ubiquity.png
  icons/Yaru/24x24@2x/apps/ubiquity.png
  icons/Yaru/256x256/apps/ubiquity.png
  icons/Yaru/256x256@2x/apps/ubiquity.png
  icons/Yaru/32x32/apps/ubiquity.png
  icons/Yaru/32x32@2x/apps/ubiquity.png
  icons/Yaru/48x48/apps/ubiquity.png
  icons/Yaru/48x48@2x/apps/ubiquity.png
  icons/Yaru/scalable/places/start-here-symbolic.svg
  icons/src/fullcolor/default/apps/ubiquity.svg
  icons/src/scalable/default/places/start-here-symbolic.svg
Labels: Area: icon theme

#3518 Restyle nautilus infobar
  gtk/src/default/gtk-3.0/apps/_nautilus.scss
Labels: Area: gtk3

#3519 Gnome Shelll fix process-working misaligned spinner
  gnome-shell/src/process-working.svg
Labels: Area: GNOME-shell

#3510 add symbolic-icons used by gsconnet-extension
  icons/Yaru/scalable/devices/display-projector-symbolic.svg
  icons/Yaru/scalable/devices/laptop-symbolic.svg
  icons/Yaru/scalable/devices/phonelink-ring-symbolic.svg
  icons/Yaru/scalable/devices/tv-symbolic.svg
  icons/Yaru/scalable/phosh/feedback-quiet-symbolic.svg
  icons/Yaru/scalable/phosh/org.gnome.Shell.Extensions.GSConnect-symbolic.svg
  icons/Yaru/scalable/phosh/phone-docked-symbolic.svg
  icons/Yaru/scalable/phosh/screen-rotation-portrait-symbolic.svg
  icons/Yaru/scalable/phosh/sms-symbolic.svg
  icons/Yaru/scalable/phosh/torch-disabled-symbolic.svg
  icons/Yaru/scalable/phosh/torch-enabled-symbolic.svg
  icons/src/scalable/default/devices/display-projector-symbolic.svg
  icons/src/scalable/default/devices/laptop-symbolic.svg
  icons/src/scalable/default/devices/phonelink-ring-symbolic.svg
  icons/src/scalable/default/devices/tv-symbolic.svg
  icons/src/scalable/default/phosh/org.gnome.Shell.Extensions.GSConnect-symbolic.svg
  icons/src/scalable/default/phosh/sms-symbolic.svg
  icons/src/symlinks/generate-symlinks.sh
  icons/src/symlinks/symbolic/phosh.list
Labels: Area: icon theme

#3525 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/widgets/_screenshot.scss
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
Labels: Area: GNOME-shell

#3527 gtk: Add MetacityThemeName to index.theme
  gtk/src/index.theme.in
  gtk/src/meson.build
Labels: Area: mate, Area: metacity

#3529 Remove square background from start-here-symbolic icon
  icons/Yaru/scalable/places/start-here-symbolic.svg
  icons/src/scalable/default/places/start-here-symbolic.svg
Labels: Area: icon theme

#3530 Force border-radius of nautilus-canvas-item in focus state
  gtk/src/default/gtk-3.0/apps/_nautilus.scss
Labels: Area: gtk3

#3535 icons: Remove Humanity icons languishing in legacy
  icons/Yaru/22x22/legacy/document-export.svg
  icons/Yaru/22x22/legacy/document-import.svg
  icons/Yaru/22x22/legacy/document-open-recent.svg
  icons/Yaru/22x22/legacy/document-page-setup.svg
  icons/Yaru/22x22/legacy/document-print-preview.svg
  icons/Yaru/22x22/legacy/document-save-as.svg
  icons/Yaru/24x24/legacy/document-export.svg
  icons/Yaru/24x24/legacy/document-import.svg
  icons/Yaru/24x24/legacy/document-open-recent.svg
  icons/Yaru/24x24/legacy/document-open.svg
  icons/Yaru/24x24/legacy/document-page-setup.svg
  icons/Yaru/24x24/legacy/document-print-preview.svg
  icons/Yaru/24x24/legacy/document-save-as.svg
  icons/Yaru/48x48/legacy/document-export.svg
  icons/Yaru/48x48/legacy/document-import.svg
  icons/Yaru/48x48/legacy/document-open-recent.svg
  icons/Yaru/48x48/legacy/document-open.svg
  icons/Yaru/48x48/legacy/document-page-setup.svg
  icons/Yaru/48x48/legacy/document-print-preview.svg
  icons/Yaru/48x48/legacy/document-save-as.svg
  icons/Yaru/48x48/legacy/document-save.svg
Labels: Area: icon theme

#3430 Revert "Make MATE panel dark"
  gtk/src/default/gtk-3.0/_colors.scss
  gtk/src/default/gtk-3.0/apps/_mate.scss
Labels: Area: mate

#3544 Fix invisible caret in caja desktop rename entry
  gtk/src/default/gtk-3.0/apps/_caja.scss
Labels: Area: gtk3

#3545 Clean up panel vars
  gtk/src/default/gtk-3.0/_colors.scss
  gtk/src/default/gtk-3.0/apps/_mate.scss
  gtk/src/default/gtk-3.0/apps/_unity7.scss
Labels: Area: Unity, Area: gtk3, Area: MATE

#3549 Fix upstream icons CI branch names
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions

#3556 Mate: Hide focus outline on menu-bar buttons
  gtk/src/default/gtk-3.0/apps/_mate.scss
Labels: Area: gtk3, Area: MATE

#3520 Increase contrast of popover menus
  gnome-shell/src/gnome-shell-sass/_colors.scss
Labels: Area: GNOME-shell

#3560 Gtk3: Fix selected image
  gtk/src/default/gtk-3.0/_tweaks.scss
Labels: Area: gtk3
