Repository ubuntu/yaru, pull requests merged in 2022-01, with the labels that each got.

#3286 Add preferences-desktop-keyboard icon
  icons/Yaru/16x16/categories/preferences-desktop-keyboard.png
  icons/Yaru/16x16@2x/categories/preferences-desktop-keyboard.png
  icons/Yaru/24x24/categories/preferences-desktop-keyboard.png
  icons/Yaru/24x24@2x/categories/preferences-desktop-keyboard.png
  icons/Yaru/256x256/categories/preferences-desktop-keyboard.png
  icons/Yaru/256x256@2x/categories/preferences-desktop-keyboard.png
  icons/Yaru/32x32/categories/preferences-desktop-keyboard.png
  icons/Yaru/32x32@2x/categories/preferences-desktop-keyboard.png
  icons/Yaru/48x48/categories/preferences-desktop-keyboard.png
  icons/Yaru/48x48@2x/categories/preferences-desktop-keyboard.png
  icons/src/symlinks/fullcolor/categories.list
Labels: Area: icon theme

#3291 Add new upstream vpn symbolics
  icons/Yaru/scalable/status/network-vpn-disabled-symbolic.svg
  icons/Yaru/scalable/status/network-vpn-disconnected-symbolic.svg
  icons/src/scalable/status/network-vpn-disabled-symbolic.svg
  icons/src/scalable/status/network-vpn-disconnected-symbolic.svg
Labels: Area: icon theme

#3292 symlink org.gnome.Shell.Extensions-symbolic.svg
  icons/Yaru/scalable/apps/org.gnome.Shell.Extensions-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3280 Adding reworked software-properties icon
  icons/Yaru/16x16/apps/software-properties.png
  icons/Yaru/16x16@2x/apps/software-properties.png
  icons/Yaru/24x24/apps/software-properties.png
  icons/Yaru/24x24@2x/apps/software-properties.png
  icons/Yaru/256x256/apps/software-properties.png
  icons/Yaru/256x256@2x/apps/software-properties.png
  icons/Yaru/32x32/apps/software-properties.png
  icons/Yaru/32x32@2x/apps/software-properties.png
  icons/Yaru/48x48/apps/software-properties.png
  icons/Yaru/48x48@2x/apps/software-properties.png
  icons/src/fullcolor/default/apps/software-properties.svg
Labels: Area: icon theme

#2910 Drop GDM purple background
  gnome-shell/src/gnome-shell-sass/widgets/_screen-shield.scss
Labels: Area: GNOME-shell

#3301 Fix metacity mate variant
  metacity/src/mate-dark/metacity-theme-1.xml.in
  metacity/src/mate/metacity-theme-1.xml.in
Labels: Area: mate, Area: metacity

#3303 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
Labels: Area: GNOME-shell

#3304 Symlink ups to uninterruptible-power-supply (symbolic)
  icons/Yaru/scalable/devices/ups-symbolic.svg
  icons/src/symlinks/symbolic/devices.list
Labels: Area: icon theme

#3306 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
Labels: Area: GNOME-shell

#3312 sync GNOME-Shell resources
  gnome-shell/src/calendar-today-dark.svg
  gnome-shell/src/calendar-today.svg
  gnome-shell/src/data/gnome-shell-theme.gresource.xml
  gnome-shell/src/keyboard-caps-lock-filled-symbolic.svg
  gnome-shell/src/keyboard-enter-symbolic.svg
  gnome-shell/src/keyboard-hide-symbolic.svg
  gnome-shell/src/keyboard-layout-filled-symbolic.svg
  gnome-shell/src/keyboard-shift-filled-symbolic.svg
  gnome-shell/src/meson.build
  gnome-shell/src/toggle-off-dark.svg
  gnome-shell/src/toggle-off-hc.svg
  gnome-shell/src/toggle-off-intl.svg
  gnome-shell/src/toggle-off.svg
  gnome-shell/src/toggle-on-dark.svg
  gnome-shell/src/toggle-on-hc.svg
  gnome-shell/src/toggle-on-intl.svg
  gnome-shell/src/toggle-on.svg
Labels: Area: GNOME-shell

#3315 Add folder-visting-symbolic icon
  icons/Yaru/scalable/status/folder-visting-symbolic.svg
  icons/src/scalable/status/folder-visting-symbolic.svg
Labels: Area: icon theme

#3313 Add support for GS42 - upstream sync
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/_high-contrast-colors.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/src/gnome-shell-sass/widgets/_dash.scss
  gnome-shell/src/gnome-shell-sass/widgets/_dialogs.scss
  gnome-shell/src/gnome-shell-sass/widgets/_keyboard.scss
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_network-dialog.scss
  gnome-shell/src/gnome-shell-sass/widgets/_notifications.scss
  gnome-shell/src/gnome-shell-sass/widgets/_panel.scss
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
  gnome-shell/src/gnome-shell-sass/widgets/_search-entry.scss
  gnome-shell/src/gnome-shell-sass/widgets/_search-results.scss
  gnome-shell/src/gnome-shell-sass/widgets/_slider.scss
  gnome-shell/src/gnome-shell-sass/widgets/_switcher-popup.scss
  gnome-shell/src/gnome-shell-sass/widgets/_switches.scss
  gnome-shell/src/gnome-shell-sass/widgets/_workspace-switcher.scss
Labels: Area: GNOME-shell

#3316 Revert close button to upstream look
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
Labels: Area: GNOME-shell

#3317 Fix Yaru-dark gtk2 assets
  gtk/src/dark/gtk-2.0/assets-external.svg
  gtk/src/dark/gtk-2.0/assets/checkbox-checked-active.png
  gtk/src/dark/gtk-2.0/assets/checkbox-checked-insensitive.png
  gtk/src/dark/gtk-2.0/assets/checkbox-checked.png
  gtk/src/dark/gtk-2.0/assets/checkbox-mixed-active.png
  gtk/src/dark/gtk-2.0/assets/checkbox-mixed-insensitive.png
  gtk/src/dark/gtk-2.0/assets/checkbox-mixed.png
  gtk/src/dark/gtk-2.0/assets/radio-checked-active.png
  gtk/src/dark/gtk-2.0/assets/radio-checked-insensitive.png
  gtk/src/dark/gtk-2.0/assets/radio-checked.png
  gtk/src/dark/gtk-2.0/assets/radio-mixed-active.png
  gtk/src/dark/gtk-2.0/assets/radio-mixed-insensitive.png
  gtk/src/dark/gtk-2.0/assets/radio-mixed.png
Labels: Area: gtk2

#3322 issue no #3221 add instructions for debian files
  CONTRIBUTING.md
Labels: Area: documentation

#3323 Sync image-missing-symbolic with upstream
  icons/Yaru/scalable/status/image-missing-symbolic.svg
  icons/src/scalable/status/image-missing-symbolic.svg
Labels: Area: icon theme

#3324 Fix Gnome Shell assets
  gnome-shell/src/calendar-today-dark.svg
  gnome-shell/src/calendar-today.svg
  gnome-shell/src/checkbox-dark.svg
  gnome-shell/src/checkbox-focused-dark.svg
  gnome-shell/src/checkbox-focused.svg
  gnome-shell/src/checkbox-off-dark.svg
  gnome-shell/src/checkbox-off-focused-dark.svg
  gnome-shell/src/checkbox.svg
  gnome-shell/src/keyboard-caps-lock-filled-symbolic.svg
  gnome-shell/src/keyboard-enter-symbolic.svg
  gnome-shell/src/keyboard-hide-symbolic.svg
  gnome-shell/src/keyboard-layout-filled-symbolic.svg
  gnome-shell/src/keyboard-shift-filled-symbolic.svg
  gnome-shell/src/no-notifications.svg
  gnome-shell/src/process-working.svg
  gnome-shell/src/toggle-off-dark.svg
  gnome-shell/src/toggle-on-dark.svg
  gnome-shell/src/toggle-on-hc.svg
  gnome-shell/src/toggle-on.svg
Labels: Area: GNOME-shell

#3326 Revert upstream border-radius
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
  gtk/src/default/gtk-3.0/_common.scss
  gtk/src/default/gtk-4.0/_common.scss
Labels: Area: GNOME-shell, Area: gtk3, Area: gtk4

#3329 Gnome shell upstream sync 3328
  gnome-shell/src/calendar-today-dark.svg
  gnome-shell/src/calendar-today-light.svg
  gnome-shell/src/calendar-today.svg
  gnome-shell/src/checkbox-dark.svg
  gnome-shell/src/checkbox-focused-dark.svg
  gnome-shell/src/checkbox-focused-light.svg
  gnome-shell/src/checkbox-focused.svg
  gnome-shell/src/checkbox-light.svg
  gnome-shell/src/checkbox-off-dark.svg
  gnome-shell/src/checkbox-off-focused-dark.svg
  gnome-shell/src/checkbox-off-focused-light.svg
  gnome-shell/src/checkbox-off-focused.svg
  gnome-shell/src/checkbox-off-light.svg
  gnome-shell/src/checkbox-off.svg
  gnome-shell/src/checkbox.svg
  gnome-shell/src/data/gnome-shell-theme.gresource.xml
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/src/gnome-shell-sass/widgets/_check-box.scss
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
  gnome-shell/src/gnome-shell-sass/widgets/_switches.scss
  gnome-shell/src/process-working.svg
  gnome-shell/src/toggle-off-dark.svg
  gnome-shell/src/toggle-off-light.svg
  gnome-shell/src/toggle-off.svg
  gnome-shell/src/toggle-on-dark.svg
  gnome-shell/src/toggle-on-light.svg
  gnome-shell/src/toggle-on.svg
Labels: Area: GNOME-shell

#3337 Add Cinnamon theme upstream fetch
  .github/workflows/open-pr-on-changes.yaml
Labels: Area: cinnamon

#3346 Sync Gnome Shell with upstream
  gnome-shell/src/data/gnome-shell-theme.gresource.xml
  gnome-shell/src/gnome-shell-sass/_widgets.scss
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
  gnome-shell/src/gnome-shell-sass/widgets/_screenshot.scss
  gnome-shell/src/process-working.svg
  gnome-shell/src/screenshot-ui-area-symbolic.svg
  gnome-shell/src/screenshot-ui-display-symbolic.svg
  gnome-shell/src/screenshot-ui-window-symbolic.svg
  gnome-shell/src/select-mode-symbolic.svg
Labels: Area: GNOME-shell

#3347 Sync Libadwaita with upstream
  gtk/src/default/gtk-3.0/libhandy/_Adwaita-base.scss
Labels: Area: libhandy
