Repository ubuntu/yaru, pull requests merged in 2022-11, with the labels that each got.

#3742 feat: vlang icons
  icons/Yaru/16x16/mimetypes/text-x-v.png
  icons/Yaru/16x16@2x/mimetypes/text-x-v.png
  icons/Yaru/24x24/mimetypes/text-x-v.png
  icons/Yaru/24x24@2x/mimetypes/text-x-v.png
  icons/Yaru/256x256/mimetypes/text-x-v.png
  icons/Yaru/256x256@2x/mimetypes/text-x-v.png
  icons/Yaru/32x32/mimetypes/text-x-v.png
  icons/Yaru/32x32@2x/mimetypes/text-x-v.png
  icons/Yaru/48x48/mimetypes/text-x-v.png
  icons/Yaru/48x48@2x/mimetypes/text-x-v.png
  icons/src/fullcolor/default/mimetypes/text-x-v.svg
Labels: Area: icon theme, good first contribution

#3770 Sync Gtk4 with upstream
  gtk/src/default/gtk-4.0/_common.scss
Labels: Area: gtk4

#3771 Sync Gnome Shell with upstream
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/_high-contrast-colors.scss
  gnome-shell/src/gnome-shell-sass/widgets/_buttons.scss
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/src/gnome-shell-sass/widgets/_quick-settings.scss
Labels: Area: GNOME-shell

#3772 Evince: darker view background
  gtk/src/default/gtk-3.0/_apps.scss
  gtk/src/default/gtk-3.0/apps/_evince.scss
Labels: Area: gtk3

#3775 Sync icon theme with upstream
  icons/Yaru/scalable/categories/hearing-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-screen-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-system-lock-screen-symbolic.svg
  icons/Yaru/scalable/categories/pointing-symbolic.svg
  icons/Yaru/scalable/categories/seeing-symbolic.svg
  icons/Yaru/scalable/categories/typing-symbolic.svg
  icons/Yaru/scalable/categories/zoom-symbolic.svg
  icons/src/scalable/default/categories/hearing-symbolic.svg
  icons/src/scalable/default/categories/pointing-symbolic.svg
  icons/src/symlinks/symbolic/categories.list
Labels: Area: icon theme

#3779 Sync Cinnamon theme with upsteam
  cinnamon-shell/src/default/_colors.scss
Labels: Area: cinnamon

#3780 Add text-x-dart mimetype
  icons/Yaru/16x16/mimetypes/text-x-dart.png
  icons/Yaru/16x16@2x/mimetypes/text-x-dart.png
  icons/Yaru/24x24/mimetypes/text-x-dart.png
  icons/Yaru/24x24@2x/mimetypes/text-x-dart.png
  icons/Yaru/256x256/mimetypes/text-x-dart.png
  icons/Yaru/256x256@2x/mimetypes/text-x-dart.png
  icons/Yaru/32x32/mimetypes/text-x-dart.png
  icons/Yaru/32x32@2x/mimetypes/text-x-dart.png
  icons/Yaru/48x48/mimetypes/text-x-dart.png
  icons/Yaru/48x48@2x/mimetypes/text-x-dart.png
  icons/src/fullcolor/default/mimetypes/text-x-dart.svg
Labels: Area: icon theme

#3783 Sync upstream Adwaita icons foler
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions
