Repository ubuntu/yaru, pull requests merged in 2022-08, with the labels that each got.

#3661 Sync symbolic icons with upstream 3657
  icons/Yaru/scalable/actions/adw-mail-send-symbolic.svg
  icons/Yaru/scalable/emblems/adw-external-link-symbolic.svg
  icons/src/symlinks/symbolic/actions.list
  icons/src/symlinks/symbolic/emblems.list
Labels: Area: icon theme

#3673 Sync Cinnamon with upstream #3647
  cinnamon-shell/src/cinnamon-dark/dark-assets/checkbox/radio-checked.svg
  cinnamon-shell/src/cinnamon-dark/dark-assets/checkbox/radio-unchecked.svg
  cinnamon-shell/src/cinnamon/light-assets/checkbox/radio-checked.svg
  cinnamon-shell/src/cinnamon/light-assets/checkbox/radio-unchecked.svg
  cinnamon-shell/src/dark/dark-assets/checkbox/radio-checked.svg
  cinnamon-shell/src/dark/dark-assets/checkbox/radio-unchecked.svg
  cinnamon-shell/src/default/_tweaks.scss
  cinnamon-shell/src/default/light-assets/checkbox/radio-checked.svg
  cinnamon-shell/src/default/light-assets/checkbox/radio-unchecked.svg
Labels: Area: cinnamon

#3669 Sync icon theme with upstream - 3664
  icons/Yaru/scalable/emotes/hand-open-symbolic.svg
  icons/Yaru/scalable/status/community-none-symbolic.svg
  icons/src/scalable/default/emotes/hand-open-symbolic.svg
  icons/src/scalable/default/status/community-none-symbolic.svg
Labels: Area: icon theme

#3671 Sync icon theme with upstream - 3670
  icons/Yaru/scalable/apps/flatpak-symbolic.svg
  icons/Yaru/scalable/apps/snap-symbolic.svg
  icons/Yaru/scalable/emblems/app-installed-symbolic.svg
  icons/Yaru/scalable/emblems/test-pass-symbolic.svg
  icons/Yaru/scalable/emblems/test-symbolic.svg
  icons/src/scalable/default/apps/flatpak-symbolic.svg
  icons/src/scalable/default/emblems/test-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
  icons/src/symlinks/symbolic/emblems.list
Labels: Area: icon theme

#3672 Sync GS with upstream - 3665
  gnome-shell/src/data/icons/scalable/actions/dark-mode-symbolic.svg
Labels: Area: GNOME-shell

#3677 Metacity: add missing dialog window controls in dark theme
  metacity/src/dark/metacity-theme-1.xml.in
Labels: Area: metacity

#3689 gitattributes: Exclude .github from tarball releases
  .gitattributes
Labels: Area: packaging

#3695 Try skip duplicated CI on push/PR
  .github/workflows/build-ci.yaml
  .github/workflows/build-deb.yaml
Labels: Area: GitHub Actions

#3694 Add kotlin fullcolor icon
  icons/Yaru/16x16/mimetypes/text-x-kotlin.png
  icons/Yaru/16x16@2x/mimetypes/text-x-kotlin.png
  icons/Yaru/24x24/mimetypes/text-x-kotlin.png
  icons/Yaru/24x24@2x/mimetypes/text-x-kotlin.png
  icons/Yaru/256x256/mimetypes/text-x-kotlin.png
  icons/Yaru/256x256@2x/mimetypes/text-x-kotlin.png
  icons/Yaru/32x32/mimetypes/text-x-kotlin.png
  icons/Yaru/32x32@2x/mimetypes/text-x-kotlin.png
  icons/Yaru/48x48/mimetypes/text-x-kotlin.png
  icons/Yaru/48x48@2x/mimetypes/text-x-kotlin.png
  icons/src/fullcolor/default/mimetypes/text-x-kotlin.svg
Labels: Area: icon theme

#3676 Add support to GS 43
  gnome-shell/src/data/icons/scalable/status/keyboard-hide-symbolic.svg
  gnome-shell/src/data/icons/scalable/status/keyboard-layout-filled-symbolic.svg
  gnome-shell/src/data/icons/scalable/status/keyboard-layout-symbolic.svg
  gnome-shell/src/data/icons/scalable/status/message-indicator-symbolic.svg
  gnome-shell/src/data/icons/scalable/status/no-events-symbolic.svg
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_common.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/_high-contrast-colors.scss
  gnome-shell/src/gnome-shell-sass/_widgets.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell-sass/widgets/_buttons.scss
  gnome-shell/src/gnome-shell-sass/widgets/_calendar.scss
  gnome-shell/src/gnome-shell-sass/widgets/_corner-ripple.scss
  gnome-shell/src/gnome-shell-sass/widgets/_dialogs.scss
  gnome-shell/src/gnome-shell-sass/widgets/_ibus-popup.scss
  gnome-shell/src/gnome-shell-sass/widgets/_keyboard.scss
  gnome-shell/src/gnome-shell-sass/widgets/_login-dialog.scss
  gnome-shell/src/gnome-shell-sass/widgets/_looking-glass.scss
  gnome-shell/src/gnome-shell-sass/widgets/_message-list.scss
  gnome-shell/src/gnome-shell-sass/widgets/_network-dialog.scss
  gnome-shell/src/gnome-shell-sass/widgets/_notifications.scss
  gnome-shell/src/gnome-shell-sass/widgets/_panel.scss
  gnome-shell/src/gnome-shell-sass/widgets/_popovers.scss
  gnome-shell/src/gnome-shell-sass/widgets/_quick-settings.scss
  gnome-shell/src/gnome-shell-sass/widgets/_screenshot.scss
  gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss
Labels: Area: GNOME-shell

#3698 Add missing dark-mode-symbolic entry to gnome-shell-icons.gresource.xml
  gnome-shell/src/data/gnome-shell-icons.gresource.xml
Labels: Area: GNOME-shell

#3679 Add gnome-text-editor icons
  icons/Yaru/16x16/apps/org.gnome.TextEditor.png
  icons/Yaru/16x16@2x/apps/org.gnome.TextEditor.png
  icons/Yaru/24x24/apps/org.gnome.TextEditor.png
  icons/Yaru/24x24@2x/apps/org.gnome.TextEditor.png
  icons/Yaru/256x256/apps/org.gnome.TextEditor.png
  icons/Yaru/256x256@2x/apps/org.gnome.TextEditor.png
  icons/Yaru/32x32/apps/org.gnome.TextEditor.png
  icons/Yaru/32x32@2x/apps/org.gnome.TextEditor.png
  icons/Yaru/48x48/apps/org.gnome.TextEditor.png
  icons/Yaru/48x48@2x/apps/org.gnome.TextEditor.png
  icons/Yaru/scalable/apps/org.gnome.TextEditor-symbolic.svg
  icons/src/fullcolor/default/apps/org.gnome.TextEditor.svg
  icons/src/scalable/default/apps/org.gnome.TextEditor-symbolic.svg
Labels: Area: icon theme

#3702 symbolic: folder-open
  icons/Yaru/scalable/status/folder-drag-accept-symbolic.svg
  icons/Yaru/scalable/status/folder-open-symbolic.svg
  icons/src/scalable/default/status/folder-drag-accept-symbolic.svg
  icons/src/scalable/default/status/folder-open-symbolic.svg
Labels: Area: icon theme

#3703 add styles for gnome text-editor
  gtksourceview/gtksourceview-5/dark.xml.in
  gtksourceview/gtksourceview-5/default.xml.in
  gtksourceview/gtksourceview-5/meson.build
  gtksourceview/gtksourceview/dark.xml.in
  gtksourceview/gtksourceview/default.xml.in
  gtksourceview/gtksourceview/meson.build
  gtksourceview/meson.build
Labels: Area: GtkSourceView

#3707 Change upstream gnome-todo branch
  .github/workflows/open-pr-on-icons-changes.yaml
Labels: Area: GitHub Actions

#3712 Sync Gnome Shell with upstream #3697
  gnome-shell/src/gnome-shell-sass/_colors.scss
  gnome-shell/src/gnome-shell-sass/_drawing.scss
  gnome-shell/src/gnome-shell-sass/_high-contrast-colors.scss
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
  gnome-shell/src/gnome-shell.scss.in
Labels: Area: GNOME-shell

#3711 Sync icon theme with upstream #3710
  icons/Yaru/scalable/categories/org.gnome.Settings-screen-lock-symbolic.svg
  icons/Yaru/scalable/categories/org.gnome.Settings-screen-symbolic.svg
  icons/src/symlinks/symbolic/categories.list
Labels: Area: icon theme

#3715 App grid arrow use wrong color
  gnome-shell/src/gnome-shell-sass/widgets/_app-grid.scss
Labels: Area: GNOME-shell

#3713 Wrong quick action button color on click
  gnome-shell/src/gnome-shell-sass/widgets/_quick-settings.scss
Labels: Area: GNOME-shell
