Repository ubuntu/yaru, pull requests merged in 2023-06, with the labels that each got.

#3910 Build(deps): bump peter-evans/create-pull-request from 4 to 5
  .github/workflows/open-pr-on-changes.yaml
  .github/workflows/open-pr-on-icons-changes.yaml
  .github/workflows/open-pr-on-optimized-symbolic-icons-changes.yaml
  .github/workflows/open-pr-on-rendered-icons-changed.yaml
Labels: Area: GitHub Actions

#3917 Sync Gtk4 with upstream
  gtk/src/default/gtk-4.0/_colors.scss
  gtk/src/default/gtk-4.0/_common.scss
Labels: Area: gtk4

#3921 Fix cinnamon build
  cinnamon-shell/src/cinnamon-shell.scss.in
  cinnamon-shell/src/meson.build
Labels: Area: cinnamon

#3924 Sync cinnamon with upstream
  cinnamon-shell/src/sass/_colors.scss
  cinnamon-shell/src/sass/_common.scss
Labels: Area: cinnamon

#3918 Sync Gnome Shell icons with upstream
  gnome-shell/src/data/gnome-shell-icons.gresource.xml
  gnome-shell/src/data/icons/scalable/actions/ornament-check-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/ornament-dot-symbolic.svg
Labels: Area: GNOME-shell

#3926 Sync icon theme with upstream
  icons/Yaru/scalable/apps/settings-symbolic.svg
  icons/src/symlinks/symbolic/apps.list
Labels: Area: icon theme

#3925 Cinnamon: Drop inverted panel, fix accent and cleanups
  cinnamon-shell/src/sass/_colors.scss
  cinnamon-shell/src/sass/_palette.scss
  cinnamon-shell/src/sass/_tweaks.scss
Labels: Area: cinnamon

#3933 Cinnamon: Fix menu-favorites-box background
  cinnamon-shell/src/sass/_tweaks.scss
Labels: Area: cinnamon

#3932 Sync Gnome Shell with upstream
  gnome-shell/src/data/gnome-shell-icons.gresource.xml
  gnome-shell/src/data/icons/scalable/actions/screencast-stop-symbolic.svg
Labels: Area: GNOME-shell

#3931 Add `start-here` and `view-app-grid` fullcolor icons
  icons/Yaru/16x16/actions/view-app-grid.png
  icons/Yaru/16x16/places/start-here.png
  icons/Yaru/16x16@2x/actions/view-app-grid.png
  icons/Yaru/16x16@2x/places/start-here.png
  icons/Yaru/22x22/actions/view-app-grid.png
  icons/Yaru/22x22/places/start-here.png
  icons/Yaru/22x22@2x/actions/view-app-grid.png
  icons/Yaru/22x22@2x/places/start-here.png
  icons/Yaru/24x24/actions/view-app-grid.png
  icons/Yaru/24x24/places/start-here.png
  icons/Yaru/24x24@2x/actions/view-app-grid.png
  icons/Yaru/24x24@2x/places/start-here.png
  icons/Yaru/256x256/actions/view-app-grid.png
  icons/Yaru/256x256/places/start-here.png
  icons/Yaru/256x256@2x/actions/view-app-grid.png
  icons/Yaru/256x256@2x/places/start-here.png
  icons/Yaru/32x32/actions/view-app-grid.png
  icons/Yaru/32x32/places/start-here.png
  icons/Yaru/32x32@2x/actions/view-app-grid.png
  icons/Yaru/32x32@2x/places/start-here.png
  icons/Yaru/48x48/actions/view-app-grid.png
  icons/Yaru/48x48/places/start-here.png
  icons/Yaru/48x48@2x/actions/view-app-grid.png
  icons/Yaru/48x48@2x/places/start-here.png
  icons/Yaru/scalable/places/start-here-symbolic.svg
  icons/src/fullcolor/default/actions/view-app-grid.svg
  icons/src/fullcolor/default/places/start-here.svg
Labels: Area: icon theme

#3936 Remove the amazon store icons
  icons/Yaru/16x16/apps/amazon-store.png
  icons/Yaru/16x16@2x/apps/amazon-store.png
  icons/Yaru/24x24/apps/amazon-store.png
  icons/Yaru/24x24@2x/apps/amazon-store.png
  icons/Yaru/256x256/apps/amazon-store.png
  icons/Yaru/256x256@2x/apps/amazon-store.png
  icons/Yaru/32x32/apps/amazon-store.png
  icons/Yaru/32x32@2x/apps/amazon-store.png
  icons/Yaru/48x48/apps/amazon-store.png
  icons/Yaru/48x48@2x/apps/amazon-store.png
  icons/Yaru/scalable/apps/amazon-store-symbolic.svg
  icons/src/fullcolor/default/apps/amazon-store.svg
  icons/src/scalable/default/apps/amazon-store-symbolic.svg
Labels: Area: icon theme
