Repository ubuntu/yaru, pull requests merged in 2025-08, with the labels that each got.

#4267 Added missing bluetooth-acquiring-symbolic icon
  icons/Yaru/scalable/status/bluetooth-acquiring-symbolic.svg
  icons/src/scalable/default/status/bluetooth-acquiring-symbolic.svg
Labels: Area: icon theme

#4265 Gnome Software Icon Minor Fixes
  icons/Yaru/16x16/apps/org.gnome.Software.png
  icons/Yaru/16x16@2x/apps/org.gnome.Software.png
  icons/Yaru/24x24/apps/org.gnome.Software.png
  icons/Yaru/24x24@2x/apps/org.gnome.Software.png
  icons/Yaru/256x256/apps/org.gnome.Software.png
  icons/Yaru/256x256@2x/apps/org.gnome.Software.png
  icons/Yaru/32x32/apps/org.gnome.Software.png
  icons/Yaru/32x32@2x/apps/org.gnome.Software.png
  icons/Yaru/48x48/apps/org.gnome.Software.png
  icons/Yaru/48x48@2x/apps/org.gnome.Software.png
  icons/src/fullcolor/default/apps/org.gnome.Software.svg
Labels: Area: icon theme

#4293 fix(icons): fix workscape-switcher-* icon-name in source file
  icons/src/fullcolor/default/apps/workspace-switcher-left-bottom.svg
  icons/src/fullcolor/default/apps/workspace-switcher-left-top.svg
  icons/src/fullcolor/default/apps/workspace-switcher-right-bottom.svg
Labels: Area: icon theme

#4299 Sync GTK3 with upstream
  gtk/src/default/gtk-3.0/README
Labels: Area: gtk3

#4284 Chore: Improve and Sync Wi-Fi Encrypted Indicator Icons
  icons/Yaru/scalable/status/lock-small-symbolic.svg
  icons/Yaru/scalable/status/network-wireless-encrypted-symbolic.svg
  icons/src/scalable/default/status/network-wireless-encrypted-symbolic.svg
  icons/src/symlinks/symbolic/status.list
Labels: Area: icon theme

#4297 feat(GnomeShell): Yaruify accessibility icons
  gnome-shell/src/data/icons/scalable/actions/accessibility-high-contrast-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-keyboard-keys-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-large-text-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-menu-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-mouse-keys-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-screen-reader-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-visual-alerts-symbolic.svg
  gnome-shell/src/data/icons/scalable/actions/accessibility-zoom-symbolic.svg
Labels: Area: icon theme, Area: GNOME-shell
